.js body
    .shapeTransit1,
    .shapeTransit2
        height: 100%;
        width: 100%;
        bottom: -100%;
        left: 0;
        position: fixed
    .shapeTransit1
        background: #d8dde6;
        z-index: 20000
        +pseudo
        &::after
            background-image: url(../img/logo_gray.png);
            background-size: cover;
            width: 290px;
            height: 50px;
            position: absolute;
            left: 50%;
            top: 40%;
            display: block
            transform: translate(-50%, -50%);
    .shapeTransit2
        background: #f5f0ec;
        z-index: 21000


    > .loader
        position: absolute;
        left: 0;
        right: 0;
        transition: height .4s .4s cubic-bezier(.4,0,.2,1);
        width: 100%;
        //height: 100%
        height: 100vh;
        background: #d8dde6;
        overflow: hidden;
        z-index: 999;
        .loader__wrap
            position: absolute;
            left: 50%;
            top: 50%;
            display: block
            transform: translate(-50%, -50%);
            width: 260px
            height: 230px
            +pseudo
            &::before
            &::after

            // &::before
            //     position: relative
            //     display: block
            //     width: 260px;
            //     height: 230px;
            //     background-image: url(../img/logo_butterfly.png);
            //     background-size: cover;
            //     transform-origin: 50% 50%;
            //     animation: butterfly 0.4s alternate infinite
            //     @keyframes butterfly
            //       to
            //         transform: scaleX(0.8);
            //         opacity: 0.5;
            &::after
                background-image: url(../img/logo_gray.png);
                background-size: cover;
                width: 290px;
                height: 50px;
                animation: pulse 0.9s alternate infinite
                @keyframes pulse
                  from
                    transform: scale(1.6);
                  to
                    transform: scale(0.8);
                    opacity: 0.5;
.js body
    overflow: hidden
    &.is-loaded
        overflow: scroll
        > .loader
            height: 0;


.page__title .page__title-text
    position: relative;
    &:before
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: scale3d(0,1,1);
        z-index: 100
        //.is-loaded &,
        .is-animate &
            animation-name: textDiscover;
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(.645,.045,.355,1);

main
    position: relative;
    &:before
        content: '';
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: scale3d(0,1,1);
        z-index: 100
        //.is-loaded &,
        .is-animate &
            animation-name: blockDiscover;
            animation-duration: 1.2s;
            animation-timing-function: cubic-bezier(.645,.045,.355,1);



// @mixin anim($class, $transform, $delay: .8s)
//   #{$class}
//     opacity: 0
//     transition: all 320ms ease-out
//     transform: #{$transform}
//     //.is-loaded &,
//     .is-animate &
//         opacity: 1
//         transform: none
//         transition-delay: #{$delay}

// @mixin anim-items($class, $transform, $animDelay:0.1s, $n:50)
//   +anim($class, $transform)
//   @for $i from 1 through $n
//     //.is-loaded,
//     .is-animate
//         #{$class}:nth-child(#{$i})
//             transition-delay: ($animDelay + ($i - 1) * 0.1s)

// +anim-items('.grid__catalog .item', 'translateX(-16px)', 2000ms )

// +anim-items('.grid__catalog .item', 'translateX(-16px)', 2000ms )

// +anim-items('.grid__mirmdrt .mirmdrt-item', 'translateX(-16px)', 2000ms )




@keyframes textDiscover
    0%
        transform: scale3d(1,0,1);
        transform-origin: center bottom
    40%
        transform: scale3d(1,1,1);
        transform-origin: center bottom
    60%
        transform: scale3d(1,1,1);
        transform-origin: center top
    100%
        transform: scale3d(1,0,1);
        transform-origin: center top

@keyframes blockDiscover
    0%
        transform: scale3d(0,1,1);
        transform-origin: left center
    40%
        transform: scale3d(1,1,1);
        transform-origin: left center
    60%
        transform: scale3d(1,1,1);
        transform-origin: right center
    100%
        transform: scale3d(0,1,1);
        transform-origin: right center




// ANIMATION
.sidebar
    .menu
        > li
            > a
                &::after
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    right: 0;
                    left: 0;
                    height: 2px;
                    background-color: #aaa;
                    transform: scaleX(0);
                    transform-origin: center right;
                    transition: transform .4s cubic-bezier(.645,.045,.355,1);
                &:hover::after
                    transform: scaleX(1);
                    transform-origin: center left;


// .barba-container
//     height: 100%;
//     +pseudo
//     &::before
//         bottom: 0;
//         right: 0;
//         transition: height .4s .4s cubic-bezier(.4,0,.2,1);
//         width: 100%;
//         height: 100%
//         background: #f5f0ec;
//         z-index: 70;
//     .is-loaded &
//         &::before
//             height: 0;
//     .page__title-text
//         +pseudo
//         &::before
//             bottom: 0;
//             transition: width .4s .4s cubic-bezier(.4,0,.2,1);
//             transition-delay: 2s;
//             width: 100%;
//             height: 100%
//             background: #fff;
//             z-index: 70;
//         .is-loaded &
//             &::before
//                 width: 0;

// .barba-container.is-changing-page
//     &:before
//         width: 100%
//         background: green;
// .barba-container.is-loaded
//     &:before
//         width: 0