body
    background: #F2F2F2;
    font-family: Gals;
    //font-size: 18px;
    +fs(16);
    //+f(Gals);
    //+css-lock(16, 50, 600, 1000);
    line-height: 1.4;

    a
        color: #333;
        text-decoration: none;
        transition: .25s ease;
        &:hover
            color: #000

h1, .h1
    font-size: 36px;
    font-weight: normal;
    .indexPage &
        font-size: 48px;
        line-height: 36px;
.page_title
    //margin-bottom: 2em;

p
    //+fs(11);
    color: #949494;
    font-size: 16px;
    margin-bottom: 20px;
p+p
    margin-bottom: 10px;


//beadcrumbs
.breadcrumbs
    +clr
    margin-bottom: 1em;
    li
        float: left;
        font-size: 11px;
        padding-right: 15px;
        position: relative;
        +pseudo
        &:before
            display: none;
        &:after
            right: 5px;
            left: initial;
            content: '|'

        a
//pagination
.pagination
    +clr
    margin-bottom: 1em;
    li
        float: left;
        a
            border-radius: 5px;
            border: 1px solid #BDBDBD;
            color: #949494;
            line-height: 24px;
            font-size: 14px;
            padding: 6px 12px;
            margin-right: 5px;
    li.active
        a
            color: #FFFFFF;
            background: #B09C6D;
            border: 1px solid #B09C6D;
//tabs
.tabs
    +clr
    &__caption
        +clr
        margin-bottom: .5em;
        border-bottom: 1px solid #ABABAB;
        li
            float: left;
            color: #ABABAB;
            //border-bottom: 1px solid #ABABAB;
            font-size: 16px;
            text-transform: uppercase;
            padding: .5em 0;
            margin-right: 2em;
            cursor: pointer;
            //padding-left: 1em;
    &__caption
        li.active
            color: #333;
            border-bottom: 2px solid #333;
            margin-bottom: -1px;
            font-weight: bold;
    &__content
        +clr
        display: none;
        color: #949494;

    &__content.active
        display: block;


.newsletter .input-wrapper
    position: relative;
    max-width: 340px;

.newsletter [type=email]
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 14px;
    box-sizing: border-box;
.newsletter .input-wrapper
    position: relative;
    .btn
        height: 50px;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        background: #B09C6D;
        color: #fff;
        font-size: 18px;
    .checkbox
        color: #949494;
        font-size: 16px;
        margin-top: 10px;
    .checkbox input+span
        position: relative;
        padding-left: 25px;
        display: inline-block;

