body
    background: #F2F2F2;
    font-family: Gals;
    //font-size: 18px;
    +fs(16);
    //+f(Gals);
    //+css-lock(16, 50, 600, 1000);
    line-height: 1.4;

    a
        color: #333;
        text-decoration: none;
        transition: .25s ease;
        &:hover
            color: #000

h1, .h1
    font-size: 36px;
p
    +fs(11);
p+p
    margin-bottom: 10px;
