main
    margin-bottom: 1em;
    padding-bottom: 1em
.page__hero
    +clr
    margin-bottom: 1em;
.page__title
    .title__viewAll
        display: inline-block
        opacity: .5
        font-size: 40%;
        margin-left: 4%;
        +sm
            display: block;
            margin: 10px 0;

@import page__catalog
@import page__look
@import page__oneitem





.page__news
    +clr
    margin-top: .25em;
    margin-bottom: 3em;
    .news
        &__item
            float: left;
            width: 48%
            h5
                font-size: 18px;
                font-weight: normal;
                color: #333333;
                margin-bottom: .5em;
            p
                color: #ABABAB;
                font-size: 16px!important;
                margin-bottom: 5px;

            a, .more
                color: #333333;
