aside
    .menu
        color: #333;
        font-size: 18px;
        margin-bottom: 50px;
        &__item
            margin-bottom: 10px;
            position: relative;
            &.subMenu > a
                +pseudo
                &:after
                    +menuArrow
            &.subMenu li
                margin-bottom: 15px;
        &__item .submenu
            margin-top: .5em;
            margin-left: 1em;
            margin-right: 2em;
            //display: none
            li
                margin-bottom: 8px;
                font-size: 16px;
                line-height: 16px;
            a
                color: #949494
                &:hover
                    color: #000;
    .phone
        float: left;
        margin-right: 2em;
        width: 260px;
        .tel
            font-size: 24px
            line-height: 30px;
        &__desc
            color: #949494;
            font-size: 15px;
    .smenu
        color: #949494;
        font-size: 18px;
        margin-bottom: 50px;
        .menu__item
            position: relative;
            margin-bottom: 5px;
            padding: 0;

            &.subMenu > a
                +pseudo
                &:after
                    +menuArrow
                    border-color: #949494;
            &.subMenu li
                margin-bottom: 15px;
        a
            color: #949494;
            transition: .25s ease;
            &:hover
                color: #666
        li ul
            display: none
