.sidebar.sidebar--index
    .menu
        font-size: 24px;
        margin-bottom: 80px;
    .phone
        float: left;
        margin-right: 2em;
        width: 260px;
        .tel
            font-size: 24px
            line-height: 30px;
        &__desc
            color: #949494;
            font-size: 15px;
    .menu, .smenu
        .subMenu > a
            //z-index: 1;
        .subMenu > a
            &:before
                height: 2px;
                background: #797979;
                bottom: -1px;
                opacity: .5;
                left: 0;
                top: initial;
                width: 0%;
                transition: width .25s,

        .menu__item
            &-subMenu
                z-index: 106;
            // &:nth-child(2)
            //     z-index: 105;
            // &:nth-child(3)
            //     z-index: 104;
            // &:nth-child(4)
            //     z-index: 103;
            // &:nth-child(5)
            //     z-index: 102;
            // &:nth-child(6)
            //     z-index: 101;
            .menu__item-subMenuWrap
                position: relative;
                display: block;
                box-sizing: border-box;
                .menu__item-subMenuBlock
                    position: absolute;
                    top: -90px;
                    left: -12px;
                    padding: 20px;
                    background: #fff;
                    color: #ed4e6e;

                    opacity: 0;
                    pointer-events: none;
                    backface-visibility: hidden;
                    transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
                    box-shadow: 0 0 0 0px #2c3f52;

                    border-radius: 2px;
                    padding: 20px;
                    padding-left: 140px;
                    padding-bottom: 0;
                    width: 500px;
                    ul
                        width: 50%;
                        float: left;
                        margin: 0;
                        margin-bottom: 15px;
                        li
                            display: block;
                            font-size: 18px;
                            margin-bottom: 12px;
                            a
                                color: #333333;
            .menu__item-subMenuWrap
                > .menu__item-link
                    z-index: 110;
            .menu__item-subMenuWrap:hover
                pointer-events: auto;
                opacity: 1;
                //box-shadow: 0 0 0 10px #2c3f52;
                .menu__item-subMenuBlock
                    pointer-events: auto;
                    opacity: 1;
                    height: 270px;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
                    background: rgba(255, 255, 255, 0.95);
                    z-index: 109;

    .smenu
        li ul
            display: block
            margin-top: 1em;
            margin-left: 1em;
            font-size: 16px;
        .smenu__item-subMenu
            z-index: 6;
            .smenu__item-subMenuWrap
                position: relative;
                display: block;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                > .smenu__item-link
                    z-index: 10;
                .smenu__item-subMenuBlock
                    position: absolute;
                    top: -70px;
                    left: -12px;
                    padding: 20px;
                    background: #fff;
                    color: #ed4e6e;

                    opacity: 0;
                    pointer-events: none;
                    backface-visibility: hidden;
                    transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
                    box-shadow: 0 0 0 0px #2c3f52;

                    border-radius: 2px;
                    padding: 20px;
                    padding-left: 140px;
                    padding-bottom: 0;
                    width: 500px;
                    ul
                        width: 50%;
                        float: left;
                        margin: 0;
                        margin-bottom: 15px;
                        li
                            display: block;
                            font-size: 16px;
                            margin-bottom: 12px;
                            a
                                color: #333333;
            .smenu__item-subMenuWrap:hover
                .smenu__item-subMenuBlock
                    pointer-events: auto;
                    opacity: 1;
                    height: 170px;;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
                    background: rgba(255, 255, 255, 0.95);
                    z-index: 9;
