.sidebar.sidebar--index
    .menu
        font-size: 24px;
        margin-bottom: 80px;
    .phone
        float: left;
        margin-right: 2em;
        width: 260px;
        .tel
            font-size: 24px
            line-height: 30px;
        &__desc
            color: #949494;
            font-size: 15px;
    .menu, .smenu
        .subMenu > a
            //z-index: 1;
        .subMenu > a
            &:before
                height: 2px;
                background: #797979;
                bottom: -1px;
                opacity: .5;
                left: 0;
                top: initial;
                width: 0%;
                transition: width .25s,
        .subMenu.isOpenMenu > a
            &:before
                width: 100%;

        .subMenuBlock
            z-index: 100;
            position: absolute;
            left: -12px;
            top: -90px;
            background: red;
            border-radius: 2px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            background: rgba(255, 255, 255, 0.95);
            width: 500px;
            //padding-top: 30px;
            padding: 20px;
            padding-left: 140px;
            padding-bottom: 0;

            ul
                width: 50%;
                float: left;
                margin: 0;
                margin-bottom: 15px;
                li
                    display: block;
                    font-size: 18px;
                    margin-bottom: 12px;
                    a
                        color: #333333;
        .subMenuBlock
            //display: none;
            transition: opacity .35s cubic-bezier(0,0,.58,1), transform .005s;
            opacity: 0;
            //transform: scale(.1);
            transform: translateX(-2000px);
        .isOpenSubMenu .subMenuBlock
            //display: block;
            opacity: 1;
            transform: scale(1);

        .isOpenMenu a
            z-index: 101;
    .smenu
        li ul
            display: block
            margin-top: 1em;
            margin-left: 1em;
            font-size: 16px;
        .subMenuBlock
            top: -70px;
            ul
                li
                    font-size: 16px;
                    margin-bottom: 12px;
