---
title: Главная
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar_index.html" %}
	<main class="indexPage">
		<div class="page__hero">
			<div class="row">
				<div class="hero__item">
					<div class="hero__img" style="background-image: url('img/assets/model01_alpha.png')"></div>
					<div class="hero__info">
						<div class="hero__title special">Весна 2018</div>
						<a href="#" class="hero__link">Подробнее</a>
					</div>
				</div>
				<!-- //hero__item -->
			</div>
			<div class="row">
				<div class="owl-carousel owl-theme owl-oneslide">
					<div class="hero__item">
						<div class="hero__img" style="background-image: url('img/assets/model02_alpha.png')"></div>
						<div class="hero__info">
							<div class="hero__title">Платье-футляр за 4999 р</div>
							<a href="#" class="hero__link">Подробнее</a>
						</div>
					</div>
					<!-- //hero__item -->
					<div class="hero__item">
						<div class="hero__img" style="background-image: url('img/assets/model02_alpha.png')"></div>
						<div class="hero__info">
							<div class="hero__title">Платье-футляр за 4999 р</div>
							<a href="#" class="hero__link">Подробнее</a>
						</div>
					</div>
					<!-- //hero__item -->
					<div class="hero__item">
						<div class="hero__img" style="background-image: url('img/assets/model02_alpha.png')"></div>
						<div class="hero__info">
							<div class="hero__title">Платье-футляр за 4999 р</div>
							<a href="#" class="hero__link">Подробнее</a>
						</div>
					</div>
					<!-- //hero__item -->
					<div class="hero__item">
						<div class="hero__img" style="background-image: url('img/assets/model02_alpha.png')"></div>
						<div class="hero__info">
							<div class="hero__title">Платье-футляр за 4999 р</div>
							<a href="#" class="hero__link">Подробнее</a>
						</div>
					</div>
					<!-- //hero__item -->
					<div class="hero__item">
						<div class="hero__img" style="background-image: url('img/assets/model01_alpha.png')"></div>
						<div class="hero__info">
							<div class="hero__title">Платье-футляр за 4999 р</div>
							<a href="#" class="hero__link">Подробнее</a>
						</div>
					</div>
					<!-- //hero__item -->
					<div class="hero__item">
						<div class="hero__img" style="background-image: url('img/assets/model02_alpha.png')"></div>
						<div class="hero__info">
							<div class="hero__title">Платье-футляр за 4999 р</div>
							<a href="#" class="hero__link">Подробнее</a>
						</div>
					</div>
					<!-- //hero__item -->
					<div class="hero__item">
						<div class="hero__img" style="background-image: url('img/assets/model02_alpha.png')"></div>
						<div class="hero__info">
							<div class="hero__title">Платье-футляр за 4999 р</div>
							<a href="#" class="hero__link">Подробнее</a>
						</div>
					</div>
					<!-- //hero__item -->
				</div>
			</div>
			<h1 class="page__title">Новинки <a href="#" class="title__viewAll">Смотреть все</a></h1>
			<div class="row page__catalog">
				<div class="owl-carousel owl-theme owl-gallery ">
					{% include "partials/_item.html" %}
					{% include "partials/_item.html" %}
				</div>
			</div>

			<h1 class="page__title">Распродажа<a href="#" class="title__viewAll">Смотреть все</a></h1>
			<div class="row page__catalog">
				<div class="owl-carousel owl-theme owl-gallery">
					{% include "partials/_item.html" %}
					{% include "partials/_item.html" %}
					{% include "partials/_item.html" %}
				</div>
			</div>
			<h1 class="page__title">Новости<a href="#" class="title__viewAll">Смотреть все</a></h1>
			<div class="row page__news">
				<div class="news__item">
					<h5><a href="#">Новый салон MADYART  в Москве</a></h5>
					<p>Милые дамы, обращаем ваше внимание на то, что наш салон в Москве переехал из ТРК “БУМ”. Ждем вас за покупками.
					<a href="#">Подробнее</a>
					</p>
				</div>
				<div class="news__item">
					<h5><a href="#">Новый салон MADYART  в Москве</a></h5>
					<p>Милые дамы, обращаем ваше внимание на то, что наш салон в Москве переехал из ТРК “БУМ”. Ждем вас за покупками.
					<a href="#">Подробнее</a>
					</p>
				</div>
			</div>
			<h1 class="page__title">Узнайте первыми </h1>
			<p class="title__viewAll">Только самое важное и никакого спама</p>
			<div class="newsletter">
				<div class="input-wrapper">
					<input id="newsletterInput" type="email" placeholder="Введите email">
					<button class="btn"><span class="fa fa-envelope"></span></button>
					<div class="input-group">
						<label class="checkbox">
							<input type="checkbox" checked="">
							<span>Согласен с политикой конфиденциальности</span>
						</label>
					 </div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}

