---
title: Каталог
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar.html" %}
	<main class="catalogPage">
		<h1 class="page__title">{{ title }}
			<a href="#" class="title__viewAll">Поиск по артикулу</a>
			<ul class="catalog__sort">
              <li><a href="#">По новизне</a></li>
              <li class="active"><a href="#">Размеры</a></li>
              <li><a href="#">Цена</a></li>
              <li><a href="#" class="clear">Сбросить</a></li>
            </ul>
		</h1>

		<div class="page__catalog row">
				{% include "partials/_item.html" %}
				{% include "partials/_item.html" %}
				{% include "partials/_item.html" %}
				{% include "partials/_item.html" %}
				{% include "partials/_item.html" %}
				{% include "partials/_item.html" %}
		</div>
		<ul class="pagination inline">
           <li><a href="#"><span>В начало</span></a></li>
           <li><a href="#"><span>1</span></a></li>
           <li class="active"><a href="#"><span>2</span></a></li>
           <li><a href="#"><span>3</span></a></li>
           <li><a href="#"><span>4</span></a></li>
           <li><a href="#"><span>5</span></a></li>
           <li><a href="#"><span>...</span></a>  </li>
           <li><a href="#"><span>101</span></a></li>
           <li><a href="#"><span>102</span></a></li>
           <li><a href="#"><span>В конец</span></a></li>
         </ul>
		<p>
			Выглядеть стильно и привлекательно - просто! Достаточно правильно подобрать одежду, ориентируясь на
особенности своей фигуры.		</p>
		<p>
Мы расскажем, какими приемами пользуются профессиональные стилисты.
		</p>
		<p>
Узкие плечи можно корректировать с помощью свитеров и блуз с продольным вырезом и рукавами-буф,
</p>
	</main>

{% endblock %}
