---
title: Каталог
breadCrumbsItems: ['Главная','Каталог']
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar_catalog.html" %}
  <main class="innerPage catalogPage">
    {{mixins.pageTitle(title,'catalog')}}

		<div class="row grid__catalog grid__catalog--col3">
      {{mixins.catalogItems(2)}}
		</div>
         {{mixins.pagination()}}
      		<p>
      			Выглядеть стильно и привлекательно - просто! Достаточно правильно подобрать одежду, ориентируясь на
      особенности своей фигуры.		</p>
      		<p>
      Мы расскажем, какими приемами пользуются профессиональные стилисты.
      		</p>
      		<p>
      Узкие плечи можно корректировать с помощью свитеров и блуз с продольным вырезом и рукавами-буф,
      </p>
	</main>

{% endblock %}
