---
title: Карточка товара
opinNames: ['Евлампий Петрович','Алевтина Иннокентиевна','Константин Констаниновский']
breadCrumbsItems: ['Главная','Каталог','Яркое платье']
footerWide: true
isLogged: true
barbaNameSpace: oneitem
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!--
 	<ul class="breadcrumbs">
		<li><a href="#">Главная</a></li>
		<li><a href="#">Каталог</a></li>
	    <li class="active"><a href="#">Яркое платье</a></li>
	</ul>
-->

{% macro sizes(mod="") %}
    {%
    set items =
        [
        '38', '40', '42', '44', '46', '48', '50', '52', '54'
        ]
    %}
    <ul class="oneitem__sizes">
        {% for item in items %}
            <li class="oneitem__sizes-item{% if loop.last %} is-active{% endif %}">
                <div class="input-group">
                    <label class="radio">
                        <input type="radio" {% if loop.first %}checked{% endif %} name="selectLocation"/>
                        <span>{{item}}</span>
                    </label>
                 </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
{% macro opinion(mod="") %}
	{% for name in opinNames %}
		<dl class="opinion">
			<dt class="opinion__author">
				<div class="opin__authName">{{name}}</div>
					<time>12.11.2017</time>
					{{mixins.rating()}}
			</dt>
			<dd class="opinion__text">
				<p>
					Абстрактный принт по популярности может посоперничать с цветами и геометрией: этим летом он повсюду. Особенно хорошо такие рисунки смотрятся на деловой одежде: например, на платье фасона "футляр". Ткань - испанский набивной бифлекс.
				</p>
			</dd>
		</dl>

	{% endfor %}
{% endmacro %}


	<main class="itemPage">
		<div class="page__content">
			<div class="row">
				<div class="oneitem__body">
        			{{mixins.pageTitle('Яркое платье', 'back')}}
					<div class="oneitem__gallery">
						<div class="oneitem__gallery-carousel">
						  <div class="owl-carousel">
		                    {%
		                    set items =
		                        [
		                        '01', '02', '01', '02', '03','01', '02', '01', '02', '03','01', '02', '01', '02', '03'
		                        ]
		                    %}
		                    {% for item in items %}
		                        <div class="oneitem__itemPic"><img src="img/assets/item{{item}}.jpg" /><a href="img/assets/item{{item}}.jpg" class="oneitem__itemPic-more no-barba">Увеличить</a></div>
		                    {% endfor %}
						  </div>
						</div>
					</div>



					<div class="oneitem__desc">
						<a href="#" class="oneitem__back2list">Вернуться к покупкам</a>
						<h1 class="oneitem__title">Яркое платье</h1>
						<dl>
							<dt>Артикул:</dt>
							<dd>03-900-0387*1</dd>
						</dl>
						<dl>
							<dt>Цвет:</dt>
							<dd>Желтый</dd>
						</dl>
						<dl>
							<dt>Размеры:</dt>
							<dd>{{sizes()}}</dd>
						</dl>
						<dl>
							<dt>&nbsp;</dt>
							<dd><a href="30-modal_sizes.html" class="popuplink no-barba">Таблица размеров</a></dd>
						</dl>
						<div class="oneitem__price">5200 р. <span class="bonus">+52 бонуса</span></div>
						<button class="btn btn-incart">В корзину</button>
						<button class="btn btn-buyexpress">Быстрая покупка</button>
						<div class="tabs oneitem__desc-tabs">
						  <ul class="tabs__caption">
						    <li class="active"><a href="#desc_tab-1">Описание</a></li>
						    <li><a href="#desc_tab-2">Состав</a></li>
						    <li><a href="#desc_tab-3">Уход</a></li>
						    <li><a href="#desc_tab-4">Доставка и оплата</a></li>
						  </ul>
			          		<div class="tabs__container">
							  <div class="tabs__content active" id="desc_tab-1">
								<p>Абстрактный принт по популярности может посоперничать с цветами и геометрией: этим летом он повсюду. Особенно хорошо такие рисунки смотрятся на деловой одежде: например, на платье фасона "футляр". Ткань - испанский набивной бифлекс.</p>
							  </div>

							  <div class="tabs__content" id="desc_tab-2">
							    <p>Содержимое блока Состав</p>
							  </div>
							  <div class="tabs__content" id="desc_tab-3">
							    <svg class="icon icon-uhod-01" data-tippy title="Ручная стирка"><use xlink:href="img/sprite.svg#icon-uhod-01"></use></svg>
								<svg class="icon icon-uhod-02" data-tippy title="Не гладить"><use xlink:href="img/sprite.svg#icon-uhod-02"></use></svg>
								<svg class="icon icon-uhod-03" data-tippy title="Бережная стирка"><use xlink:href="img/sprite.svg#icon-uhod-03"></use></svg>
							  </div>
							  <div class="tabs__content" id="desc_tab-4">
							    <p>Содержимое блока Доставка и оплата</p>
							  </div>
							</div><!-- .tabs__container-->
						</div><!-- .tabs-->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="oneitem__whereBuy">
					<a href="#">Где купить?</a>
					<table class="oneitem__whereBuy-table">
					  <tr>
					    <th class="place">Место хранения \ Размер</th>
					    <th>42</th>
					    <th>44</th>
					    <th>46</th>
					    <th>48</th>
					    <th>50</th>
					    <th>52</th>
					    <th>54</th>
					    <th>56</th>
					    <th>58</th>
					  </tr>
					  <tr>
					    <td class="place">ТК «Центральный»</td>
					    <td></td>
					    <td></td>
					    <td></td>
					    <td></td>
					    <td></td>
					    <td>x</td>
					    <td></td>
					    <td>x</td>
					    <td></td>
					  </tr>
					  <tr>
					    <td class="place">ЦТиР «Мир»</td>
					    <td></td>
					    <td></td>
					    <td>x</td>
					    <td>x</td>
					    <td>x</td>
					    <td>x</td>
					    <td></td>
					    <td>x</td>
					    <td></td>
					  </tr>
					  <tr>
					    <td class="place">ТРЦ «Планета»</td>
					    <td></td>
					    <td>x</td>
					    <td>x</td>
					    <td>x</td>
					    <td>x</td>
					    <td>x</td>
					    <td></td>
					    <td>x</td>
					    <td></td>
					  </tr>
					  <tr>
					    <td class="place">Интернет-магазин</td>
					    <td></td>
					    <td></td>
					    <td></td>
					    <td></td>
					    <td></td>
					    <td></td>
					    <td></td>
					    <td></td>
					    <td></td>
					  </tr>
					</table>
					<p>
						Данные предоставлены по состоянию на 01.05.2016 года.
						Остаток товара уточняйте у оператора интернет магазина
					</p>
				</div>
			</div>
			<div class="row">
				<div class="tabs">

				  <ul class="tabs__caption">
				    <li class="active"><a href="#opin_tab" class="active">Отзывы</a></li>
				    <li><a href="#q_tab">Вопросы</a></li>
				  </ul>
		          <div class="tabs__container">
					  <div class="tabs__content active" id="opin_tab">
						<div class="b-opinions">
							{{opinion()}}
							<button class="btn">Добавить отзыв</button>
						</div>
					  </div>

					  <div class="tabs__content" id="q_tab">
						<div class="b-opinions">
							{{opinion()}}
						</div>
					  </div>

					</div><!-- .tabs__container-->
				</div><!-- .tabs-->

			</div>
			<div class="row">
				<div class="tabs tabs-gallery">
				  <ul class="tabs__caption">
				    <li class="active"><a href="#tab-1">Рекомендации</a></li>
				    <li><a href="#tab-2">Похожие товары</a></li>
				    <li><a href="#tab-3">Вы недавно просматривали</a></li>
				  </ul>
		          <div class="tabs__container">
					  <div class="tabs__content active" id="tab-1">
						<div class="row grid__catalog">
							<div class="owl-carousel owl-theme owl-gallery" data-count="1|3|4">
	      						{{mixins.catalogItems(2)}}
							</div>
						</div>
					  </div>
					  <div class="tabs__content" id="tab-2">
						<div class="row grid__catalog">
							<div class="owl-carousel owl-theme owl-gallery" data-count="1|3|4">
	      						{{mixins.catalogItems(2)}}
							</div>
						</div>
					  </div>
					  <div class="tabs__content" id="tab-3">
						<div class="row grid__catalog">
							<div class="owl-carousel owl-theme owl-gallery" data-count="1|4|4">
		      					{{mixins.catalogItems(2)}}
							</div>
						</div>
					  </div>
					</div><!-- .tabs__container-->
				</div><!-- .tabs-->
			</div>
		</div>
	</main>

{% endblock %}
