---
title: Коллекции
breadCrumbsItems: ['Главная','Коллекции']
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar.html" %}
{% macro look(mod="") %}
	<div class="look__element">
		<div class="look__full">
			<figure class="img-block"><img src="img/assets/Look.jpg" alt="" /></figure>
		</div>
		<h2 class="look__title">Look 36</h2>
    	<a href="#" class="look__prev">Предыдущий образ</a>
    	<a href="#" class="look__next">Следующий образ</a>

		<ul class="look__parts">
			<li class="look__parts-element">
				<div class="look__parts-element-pic">
					<figure class="img-block"><img src="img/assets/Look_0.jpg" alt="" /></figure>
				</div>
				<div class="look__parts-element-title">
					Блузка
					<p class="price">
		                1995р
					</p>
				</div>
			</li>
			<li class="look__parts-element">
				<div class="look__parts-element-pic">
					<figure class="img-block"><img src="img/assets/Look_1.jpg" alt="" /></figure>
				</div>
				<div class="look__parts-element-title">
					Брюки
					<p class="price">
		                <strike>1995р</strike>
		                <span class="sale">9995р -30%</span>
					</p>
				</div>
			</li>
			<li class="look__parts-element">
				<div class="look__parts-element-pic">
					<figure class="img-block"><img src="img/assets/Look_2.jpg" alt="" /></figure>
				</div>
				<div class="look__parts-element-title">
					Прямая юбка
					<p class="price">
		                1995р
					</p>
				</div>
			</li>
		</ul>
	</div>
{% endmacro %}


	<main class="innerPage collectionPage">
        {{mixins.pageTitle(title)}}
		<div class="page__content">
			<div class="row">
				<div class="tabs tabs-collections">
		          <ul class="tabs__caption">
		            <li class="active"><a href="#tab-1">Новый год 2018</a></li>
		            <li><a href="#tab-2">Осень 2017</a></li>
		            <li><a href="#tab-3">Осень 2017</a></li>
		          </ul>
		          <div class="tabs__container">
					  <div class="tabs__content active" id="tab-1">
						<div class="owl-carousel owl-theme owl-gallery owl-gallery-look" data-count="1|2|4">
							{% include "partials/_item-look.html" %}
							{% include "partials/_item-look.html" %}
						</div>
						{{look()}}
					  </div>
					  <div class="tabs__content" id="tab-2">
						<div class="owl-carousel owl-theme owl-gallery owl-gallery-look" data-count="1|2|4">
							{% include "partials/_item-look.html" %}
						</div>
						{{look()}}
					  </div>
					  <div class="tabs__content" id="tab-3">
						<div class="owl-carousel owl-theme owl-gallery owl-gallery-look" data-count="1|2|4">
							{% include "partials/_item-look.html" %}
						</div>
						{{look()}}
					  </div>
					</div><!-- .tabs__container-->
				</div><!-- .tabs-->
			</div>
		</div>
	</main>

{% endblock %}
