---
title: Коллекции
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar.html" %}
	<main class="collectionPage">
		<div class="page__title">
			<h1>{{ title }}</h1>
		</div>
		<div class="page__content">
			<div class="row">
				<div class="tabs">

				  <ul class="tabs__caption">
				    <li class="active">Новый год 2018</li>
				    <li>Осень 2017</li>
				   	<li>Осень 2017</li>
				  </ul>

				  <div class="tabs__content active">
			<div class="owl-carousel owl-theme owl-gallery ">
				{% include "partials/_item-look.html" %}
			</div>

				  </div>

				  <div class="tabs__content">


				  </div>

				</div><!-- .tabs-->
			</div>
		</div>
	</main>

{% endblock %}
