---
title: Гид по стилю
breadCrumbsItems: ['Главная', 'Гид по стилю']
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar.html" %}
	<main class="innerPage pageStyleGuide">
        {{mixins.pageTitle(title,'styleguide')}}
        <div class="grid__styleguide">
            <figure class="styleguide">
                <a href="05-2_styleguide-decor.html" class="styleguide__link">Силуэт в стиле Dior</a>
                <div class="styleguide__pic"><img src="img/assets/guide01.png" alt="" /></div>
                <figcaption class="styleguide__title">
                    <div class="styleguide__title-wrap">
                        <h2 class="styleguide__title-text">Силуэт в стиле Dior</h2>
                    </div>
                </figcaption>
            </figure>
            <figure class="styleguide">
                <a href="05-2_styleguide-decor.html" class="styleguide__link">Цветочные принты</a>
                <div class="styleguide__pic"><img src="img/assets/guide02.png" alt="Цветочные принты" /></div>
                <figcaption class="styleguide__title">
                    <div class="styleguide__title-wrap">
                        <h2 class="styleguide__title-text">Цветочные принты</h2>
                    </div>
                </figcaption>
            </figure>
            <figure class="styleguide">
                <a href="05-2_styleguide-decor.html" class="styleguide__link">Силуэт в стиле Dior</a>
                <div class="styleguide__pic"><img src="img/assets/guide01.png" alt="" /></div>
                <figcaption class="styleguide__title">
                    <div class="styleguide__title-wrap">
                        <h2 class="styleguide__title-text">Силуэт в стиле Dior</h2>
                    </div>
                </figcaption>
            </figure>
        </div>

	</main>

{% endblock %}
