---
title: Отдел оптовых продаж
breadCrumbsItems: ['Главная', 'Отдел оптовых продаж']
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar_catalog.html" %}
	<main class="innerPage">
        {{mixins.pageTitle(title)}}
        <div class="page__row">
          <div class="col col-photo">
            <img src="img/assets/photo01.jpg" />
          </div>
          <div class="col col-content">
            <p>По вопросам оптового сотрудничества звоните по телефонам</p>
            <p class="tel">
                8-987-254-54-84 <br/>
                8 (347) 294-54-84 <br/>
                8 (347) 246-46-15 (14), доп. номер 118,<br/>
            </p>
            <p>либо пишите по адресу:</p>
            <p class="email">
                <a href="mailto:opt@madyart.ru">opt@madyart.ru</a>
            </p>
            <p>
                Менеджер по работе с оптовыми клиентами Клеванская Наталья
            </p>
            <a href="32-modal_getprice.html" class="btn js-popuplink">Получить прайс</a>
          </div>
        </div>
	</main>

{% endblock %}
