---
title: Салоны MADYART
breadCrumbsItems: ['Главная', 'Салоны']
footerWide: true
barbaNameSpace: stores
---
{% extends "layouts/_layout.html" %}

{% block content %}

    <main class="innerPage pageStoreMap">
        {{mixins.pageTitle(title, 'back')}}
        <div class="page__row">
          <div class="col col-sidebar">
                {% macro stores(mod="") %}
                    {%
                    set items =
                        [
                          {
                            "name": "Уфа",
                            "stores": [
                              {
                                "title": "ТРЦ «Планета»",
                                "addr": "ул. Энтузиастов, 20",
                                "tel": "8 (347) 216-31-75",
                                "latlng": [54.7577387,56.0364898]
                              },
                              {
                                "title": "ТЦ «Мир»",
                                "addr": "просп. Октября, 4/1",
                                "tel": "8 (347) 274-26-05",
                                "latlng": [54.741026,55.9878358]
                              },
                              {
                                "title": "ТРЦ «Центральный»",
                                "addr": "ул. Цюрупы, 97, 2 этаж",
                                "tel": "8 (347) 246-23-85",
                                "latlng": [54.7370888,55.9577693]
                              },
                              {
                                "title": "Madyart, ООО \"Статус\"",
                                "addr": "просп. Октября, 107/3",
                                "tel": " 8 (987) 254-54-84",
                                "latlng": [54.783083,56.0318839]
                              }
                            ]
                          },
                          {
                            "name": "Екатеринбург",
                            "stores": [
                              {
                                "title": "СИТИ-ЦЕНТР",
                                "addr": "ул. Ленина, 50",
                                "tel": "т.378-73-81",
                                "latlng": []
                              },
                              {
                                "title": "ТРЦ «Гринвич»",
                                "addr": "ул. Ленина, 50",
                                "tel": "т.378-73-81",
                                "latlng": []
                              },
                              {
                                "title": "ТРЦ «Карнавал»",
                                "addr": "ул.Халтурина, 55",
                                "tel": "8 (343) 253-84-50",
                                "latlng": []
                              },
                              {
                                "title": "Молл Парк-Хаус",
                                "addr": "ул. Ленина, 50",
                                "tel": "т.378-73-81",
                                "latlng": []
                              }
                            ]
                          },
                          {
                            "name": "Москва",
                            "stores": [{}]
                          },
                          {
                            "name": "Нижний Новгород",
                            "stores": [{}]
                          },
                          {
                            "name": "Пермь",
                            "stores": [{}]
                          },
                          {
                            "name": "Ростов-на-Дону",
                            "stores": [{}]
                          },
                          {
                            "name": "Самара",
                            "stores": [{}]
                          },
                          {
                            "name": "Стерлитамак",
                            "stores": [{}]
                          }
                        ]
                    %}

              <div class="select-store">
                <div class="fake-select filter__select" data-fake-select>
                  <div class="form-control fake-select__button">
                    <span data-fake-label>Все магазины</span>
                  </div>
                  <select>
                      <option value="0">Все магазины</option>
                      {% for item in items %}
                          <option value="{{loop.index+1}}">{{item.name}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div> <!-- //.select -->
                  <div class="b-stores">
                    <ul class="b-stores-list">
                        {% for item in items %}
                          {% set city = item.name %}
                            <li class="store__item{% if loop.last %} is-active{% endif %}">
                        <div class="ac">

                        <input class="ac-input" id="city_{{loop.index}}" name="city_{{loop.index}}" type="checkbox" {% if loop.first %} checked{% endif %} />
                        <label class="ac-label" for="city_{{loop.index}}">{{item.name}}</label>
                        <article class="ac-text">
                          <div class="ac-sub store-city">
                          {% for store in item.stores %}
                                <a href="#" class="store-city__item" data-latlng="{{store.latlng}}" data-addr="{{city}}, {{store.addr}} {{store.tel}}">
                                  <div class="store-city__name">{{store.title}}</div>
                                  <div class="store-city__addr">{{store.addr}}<br/> т.{{store.tel}}</div>
                                </a>
                             {% endfor %}
                          </div>
                        </article><!--/ac-text-->

                      </div><!--/ac-->
                            </li>
                        {% endfor %}


                    </ul>
                  </div>
                {% endmacro %}

                {{stores()}}

          </div>
          <div class="col col-content">
            <div id="gmap"></div>
          </div>
        </div>
    </main>

<!-- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">

</script> -->

    </style>
<!--     <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script> -->
<!--     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC30nnqC_nxh8v5p4jQpZEE2KyZUhl2NLU&callback=initMap"
    async defer></script>
 -->
<!--  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC30nnqC_nxh8v5p4jQpZEE2KyZUhl2NLU"
    async defer></script> -->


{% endblock %}
