---
title: Салоны MADYART
breadCrumbsItems: ['Главная', 'Салоны']
footerWide: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

    <main class="innerPage pageStoreMap">
        {{mixins.pageTitle(title, 'back')}}
        <div class="page__row">
          <div class="col col-sidebar">
                {% macro stores(mod="") %}
                    {%
                    set items =
                        [
                          {
                            "name": "Уфа",
                            "stores": [
                              {
                                "title": "ТРЦ «Планета»",
                                "addr": "ул. Энтузиастов, 20",
                                "tel": "8 (347) 216-31-75",
                                "latlon": [55.960852055988,37.661748300417]
                              },
                              {
                                "title": "ТЦ «Мир»",
                                "addr": "просп. Октября, 4/1",
                                "tel": "8 (347) 274-26-05",
                                "latlon": [55.930635,37.886591]
                              },
                              {
                                "title": "ТРЦ «Центральный»",
                                "addr": "ул. Цюрупы, 97, 2 этаж",
                                "tel": "8 (347) 246-23-85"
                              },
                              {
                                "title": "Madyart, ООО \"Статус\"",
                                "addr": "просп. Октября, 107/3",
                                "tel": " 8 (987) 254-54-84"
                              }
                            ]
                          },
                          {
                            "name": "Екатеринбург",
                            "stores": [
                              {
                                "title": "СИТИ-ЦЕНТР",
                                "addr": "ул. Ленина, 50",
                                "tel": "т.378-73-81"
                              },
                              {
                                "title": "ТРЦ «Гринвич»",
                                "addr": "ул. Ленина, 50",
                                "tel": "т.378-73-81"
                              },
                              {
                                "title": "ТРЦ «Карнавал»",
                                "addr": "ул.Халтурина, 55",
                                "tel": "8 (343) 253-84-50"
                              },
                              {
                                "title": "Молл Парк-Хаус",
                                "addr": "ул. Ленина, 50",
                                "tel": "т.378-73-81"
                              }
                            ]
                          },
                          {
                            "name": "Москва",
                            "stores": [{}]
                          },
                          {
                            "name": "Нижний Новгород",
                            "stores": [{}]
                          },
                          {
                            "name": "Пермь",
                            "stores": [{}]
                          },
                          {
                            "name": "Ростов-на-Дону",
                            "stores": [{}]
                          },
                          {
                            "name": "Самара",
                            "stores": [{}]
                          },
                          {
                            "name": "Стерлитамак",
                            "stores": [{}]
                          }
                        ]
                    %}

                    <ul class="b-stores">
                        {% for item in items %}
                            <li class="store__item{% if loop.last %} is-active{% endif %}">
                        <div class="ac">

                        <input class="ac-input" id="city_{{loop.index}}" name="city_{{loop.index}}" type="checkbox" {% if loop.first %} checked{% endif %} />
                        <label class="ac-label" for="city_{{loop.index}}">{{item.name}}</label>
                        <article class="ac-text">
                          <div class="ac-sub store-city">
                          {% for store in item.stores %}
                                <a href="#" class="store-city__item" data-latlon="{{store.latlon}}">
                                  <div class="store-city__name">{{store.title}}</div>
                                  <div class="store-city__addr">{{store.addr}}<br/> т.{{store.tel}}</div>
                                </a>
                             {% endfor %}
                          </div>
                        </article><!--/ac-text-->

                      </div><!--/ac-->
                            </li>
                        {% endfor %}


                    </ul>
                {% endmacro %}

                {{stores()}}

          </div>
          <div class="col col-content">
            <div id="map"></div>
          </div>
        </div>
    </main>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">

</script>

{% endblock %}
