---
title: Подарочный сертификат
breadCrumbsItems: ['Главная']
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar.html" %}
    <main class="innerPage">
        {{mixins.pageTitle(title, 'back')}}
        <div class="page__row">
          <div class="col col-content">
            <figure class="img-full">
             <img src="img/assets/giftcard.jpg" alt="" />
            </figure>
            <h2>Сертификат – идея отличного подарка!</h2>
            <p>Номинал подарочного сертификата: 1 тысяча рублей,  5 тысяч рублей.</p>

            <p>При совершении покупки от 25 тысяч рублей Вы получаете в подарок VIP-карту, дающую право на 15% скидку на всю продукцию, представленную в салонах торговой сети MADYART.</p>

          </div>
        </div>
    </main>

{% endblock %}
