---
title: Доставка заказа
breadCrumbsItems: ['Главная']
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar.html" %}
	<main class="innerPage">
        {{mixins.pageTitle(title, 'back')}}
        <div class="page__row">
          <div class="col col-content">
            <p>Способы, а также примерные сроки доставки приобретаемых изделий указаны на сайте в разделе «Способы доставки» по адресу http://www.madyart.ru/. Конкретные сроки доставки могут быть уточнены у оператора Call-центра.</p>

            <p>Задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца.
            При доставке Заказ вручается Вам либо третьему лицу, указанному Вами в Заказе качестве получателя. При невозможности получения Заказа, оплаченного посредством наличного расчета, указанными выше лицами, Заказ может быть вручен лицу, который может предоставить сведения о Заказе (номер отправления и/или ФИО Получателя), а также оплатить стоимость Заказа в полном объеме лицу, осуществляющему доставку товара. Лицо, осуществляющее доставку, при вручении предоплаченного Заказа вправе попросить предъявить документ, удостоверяющий личность Получателя, а также указать тип и номер предоставленного Получателем документа на квитанции к Заказу.</p>

            <p>Продавец гарантирует конфиденциальность и защиту персональных данных Получателя. Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента передачи ему Заказа и проставления Получателем Заказа подписи в документах, подтверждающих доставку Заказа.
            Если Вам не доставят оплаченный товар, мы возместим его стоимость после получения от Службы доставки подтверждения утраты Заказа.
            Стоимость доставки каждого Заказа рассчитывается индивидуально, исходя из веса Товара, региона и способа доставки, а также (в случае необходимости) формы оплаты, и указывается на сайте на последнем этапе оформления Заказа.</p>

            <p>Наша обязанность по передаче Заказа считается исполненной в момент вручения курьером товара в Ваше распоряжение, или в момент получения посылки в отделении почтовой связи.
            При получении Заказа в отделении почтовой связи Вам после оплаты доставленного Товара рекомендуется произвести вскрытие упаковки в присутствии работников Почты России и проверить Товар на соответствие заявленному количеству, ассортименту и комплектности. В случае наличия претензий к доставленному Товару (недовложение, вложение Товара отличного от указанного в описи отправления, производственный брак, иные претензии) по Вашему требованию работниками Почты России составляется Акт о выявленных несоответствиях. Если Вы не выполните указанную процедуру, и претензии не будут заявлены в вышеуказанном порядке, то наше обязательство по передаче товара считается исполненным.</p>

            <p>В случае возврата доставленного посредством Почты России Товара в связи с наличием претензий к Товару Вам необходимо приложить к Отправлению, содержащему возвращаемый Товар, следующие документы:</p>
          </div>
        </div>
	</main>

{% endblock %}
