---
title: 404 Страница не найдена
breadCrumbsItems: ['Главная']
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar.html" %}
	<main class="innerPage">
        <h1 class="page__title">{{ title }}</h1>
		<p>
			Выглядеть стильно и привлекательно - просто! Достаточно правильно подобрать одежду, ориентируясь на
особенности своей фигуры.		</p>
		<p>
Мы расскажем, какими приемами пользуются профессиональные стилисты.
		</p>
		<p>
Узкие плечи можно корректировать с помощью свитеров и блуз с продольным вырезом и рукавами-буф,
</p>
	</main>

{% endblock %}
