---
title: Открытие нового салона в Самаре.
breadCrumbsItems: ['Главная', 'Новости']
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar.html" %}
    <main class="innerPage pageNews">
        {{mixins.pageTitle(title)}}
        <div class="page__row news-oneItem">
          <div class="col col-photo">
            <img src="img/assets/news02.jpg" />
          </div>
          <div class="col col-content">
            <p>февраль 2018</p>
            <p>Новый салон MADYART гостеприимно распахнул свои двери для покупателей в торговом центре Молл Парк Хаус на 2 этаже. Новая коллекция MADYART в новом салоне ждет Вас!!! Всем удачного шоппинга! Адрес: Молл «Парк-Хаус», Московское шоссе, 81 А, 2 этаж, тел. 379-22-98</p>
            <p><a href="12-1_news-list.html">К списку новостей</a></p>
          </div>
        </div>
    </main>

{% endblock %}
