---
title: Платья в стиле 30-х
breadCrumbsItems: ['Главная', 'Мир MADYART', 'Статья']
footerWide: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
    <main class="innerPage pageBlog">
    {{mixins.pageTitle(title,'back')}}
    <div class="pageBlog__row">
      <div class="pageBlog__col pageBlog__col-content">
        <figure class="blogitem noCaption">
            <div class="blogitem__pic"><img src="img/assets/blog__item01.jpg" alt="" /></div>
        </figure>
        <p>
            Довоенная эпоха была периодом стремительного развития моды. Именно в 30-х годах появилось множество фасонов одежды. Некоторые детали гардероба того времени стали предвестниками нынешних нескромных нарядов. Сегодня 30-х годы вдохновляют дизайнеров. Модные эксперты не стесняются заимствовать идеи у модельеров того времени. Так в нашу жизнь влились нестандартные платья, миловидные шляпки и частично закрытые туфли.
        </p>
        <h2>Особенности моды 30-х годов</h2>
        <p>
            Сложно себе представить девушку довоенного периода без широких плеч и тонкой талии. Эталоном красоты на то время считалась фигура «перевернутый треугольник». Сегодня мы стремимся создавать пропорциональные силуэты, тяготея к «песочным часам». Образ в стиле 30-х годов не исключает наличия одежды с объемными «плечиками». Именно такие вещи на то время были самыми модными. Девушки носили длинные платья, что едва касались щиколотки. Тонкий пояс подчеркивал осиную талию. Плечи казались невероятно широкими за счет специальных вставок. Бедра при этом контрастировали на фоне верхней части тела. Сегодня подобный наряд может казаться смешным. Дополнив комплект правильными аксессуарами, вы сможете сформировать удивительный ансамбль в стиле 30-х годов.
        </p>
        <figure class="blogitem noCaption">
            <div class="blogitem__pic"><img src="img/assets/blog__item02.jpg" alt="" /></div>
        </figure>
        <p>Экономические трудности не могли не сказаться на моде. Многим женщинам приходилось отказываться от модной одежды в пользу более простой. Шелковые ткани были роскошью. Модные кутюрье внедрили в жизнь хлопчатобумажные вещи. Неизменными оставались скромные фасоны и удивительные шляпки. Если дама не могла себе позволить дорогой наряд, она покупала необычный головной убор и перчатки. Эти детали были неотъемлемой частью любого образа. И сегодня подобные штрихи могут кардинально изменить звучание наряда. Главное, чтобы все аксессуары были подобраны в одном стиле.</p>
        <p>
            Довоенная эпоха была периодом стремительного развития моды. Именно в 30-х годах появилось множество фасонов одежды. Некоторые детали гардероба того времени стали предвестниками нынешних нескромных нарядов. Сегодня 30-х годы вдохновляют дизайнеров. Модные эксперты не стесняются заимствовать идеи у модельеров того времени. Так в нашу жизнь влились нестандартные платья, миловидные шляпки и частично закрытые туфли.
        </p>
        <p>
            Сложно себе представить девушку довоенного периода без широких плеч и тонкой талии. Эталоном красоты на то время считалась фигура «перевернутый треугольник». Сегодня мы стремимся создавать пропорциональные силуэты, тяготея к «песочным часам». Образ в стиле 30-х годов не исключает наличия одежды с объемными «плечиками». Именно такие вещи на то время были самыми модными. Девушки носили длинные платья, что едва касались щиколотки. Тонкий пояс подчеркивал осиную талию. Плечи казались невероятно широкими за счет специальных вставок. Бедра при этом контрастировали на фоне верхней части тела. Сегодня подобный наряд может казаться смешным. Дополнив комплект правильными аксессуарами, вы сможете сформировать удивительный ансамбль в стиле 30-х годов.
        </p>
      </div>
      <div class="pageBlog__col pageBlog__col-sidebar">
        <div class="b-blog">
          <h5 class="b-blog__title">Популярные статьи</h5>
          <ul class="b-blog__items">
            <li class="b-blog__item"><a href="#">Женская одежда - выбираем правильный принт по фигуре</a></li>
            <li class="b-blog__item"><a href="#">Платья зеленого цвета</a></li>
            <li class="b-blog__item"><a href="#">Платья в стиле нью-лук</a></li>
          </ul>
        </div><!-- //.b-blog -->
        <div class="b-blog">
          <h5 class="b-blog__title">Новые комментарии</h5>
          <ul class="b-blog__items">
            <li class="b-blog__item"><a href="#">Женская одежда - выбираем правильный принт по фигуре</a></li>
            <li class="b-blog__item"><a href="#">Платья зеленого цвета</a></li>
            <li class="b-blog__item"><a href="#">Платья в стиле нью-лук</a></li>
          </ul>
        </div><!-- //.b-blog -->
        <div class="b-blog">
          <img src="img/assets/blog_vk.png" alt="" />
        </div><!-- //.b-blog -->
        <div class="b-blog">
          <img src="img/assets/blog_fb.png" alt="" />
        </div><!-- //.b-blog -->
      </div>
    </div>
  </main>

{% endblock %}
