---
title: Дисконтная программа
breadCrumbsItems: ['Главная']
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar.html" %}
    <main class="innerPage">
        {{mixins.pageTitle(title, 'back')}}
        <div class="page__row">
          <div class="col col-content">
            <figure class="img-full">
             <img src="img/assets/discount_01.jpg" alt="" />
            </figure>

            <p>Становясь постоянным покупателем салона женской одежды MADYART, Вы получаете прекрасную возможность сэкономить!</p>
            <p>Дорогие покупательницы! В салонах MADYART действует специальная дисконтная программа, основанная на системе накопительных скидок. При совершении первой покупки Вам выдается Дисконтная Книжка.</p>
            <p>Для ее получения необходимо заполнить анкету, указав свое имя, адрес и контактный телефон. Мы гарантируем, что оставленные данные будут использоваться исключительно во внутренних целях. Если Вы оставите номер телефона или адрес электронной почты, мы сможем своевременно информировать Вас о наших акциях, приглашать на мероприятия и  поздравлять с праздниками.</p>

            <p>– После оформления книжки вторую покупку (вторую единицу товара) Вы приобретаете со скидкой  5%. Третью – со скидкой 6%, и так далее. Когда Вы доберетесь до скидки 15%, мы вручим специальный подарок от MADYART и дисконтную VIP-карту с постоянной скидкой 15%.</p>
            <p>В дни рождения MADYART счастлив поздравить Вас и подарить дополнительную скидку 10%  на одну покупку. Предложение действует в течение календарного месяца Вашего рождения.</p>
            <figure class="img-full">
             <img src="img/assets/discount_02.jpg" alt="" />
            </figure>


            <h2>Правила дисконтной программы:</h2>
            <ul>
                <li>скидка по дисконтной карте предоставляется только при предъявлении карты;</li>
                <li>скидки по дисконтной программе не суммируются со скидками по акции в салоне;</li>
                <li>скидки не распространяются на позиции, участвующие в акциях, распродажах, специальных предложениях;</li>
                <li>держателем дисконтной карты может быть только физическое лицо;</li>
                <li>срок действия дисконтной книжки и VIP-карты не ограничен, а это значит, что Вы можете пользоваться ей сколько угодно, и при этом делать любые перерывы в использовании;</li>
                <li>дисконтная книжка и VIP-карта имеет индивидуальный номер. Это нужно для того, чтобы обеспечить защиту от подделок и несанкционированного предоставления скидки. Номер дисконтной карты приписывается человеку, которому она принадлежит. Все покупки по данной карте будут оформляться на владельца;</li>
                <li>дисконтная накопительная карта является собственностью MADYART. Владелец карты имеет право передавать ее другим людям. Утерянная дисконтная карта может быть восстановлена под другим номером.</li>
            </ul>
            <h2>Часто задаваемые вопросы</h2>
            <h3>Зачем мне заполнять анкету покупателя?</h3>
            <p>
            После того как Вы заполните анкету, мы зарегистрируем дисконтную карту в общей базе данных. Благодаря этому Вы будете получать информацию обо всех новинках, появляющихся в наших салонах, а также скидках, специальных предложениях, акциях и розыгрышах призов. Если Вы потеряете карту, оставленная информация поможет быстро восстановить ее.
            </p>
            <h3>Могу ли я передавать дисконтную карту родственникам, друзьям, коллегам?</h3>
            <p>Да, конечно! Ваши родственники, друзья и коллеги могут пользоваться Вашей картой для получения скидок. При этом все покупки, совершенные по данной дисконтной карте, будут оформляться на Ваше имя.</p>
            <h3>Как восстановить утерянную карту?</h3>
            <p>В случае повреждения или утраты необходимо обратиться в любой салон MADYART. Мы незамедлительно аннулируем старую дисконтную карту и выдадим новую. Для этого понадобится заполнить анкету и предъявить любой документ, удостоверяющий личность.</p>
            <h3>Могут ли измениться правила дисконтной программы?</h3>
            <p>Компания MADYART оставляет за собой право вносить изменения в правила дисконтной программы.</p>
            <p>В интернет-магазине MADYART вводится бонусная система. За каждую покупку, совершенную в интернет-магазине, вам будут автоматически начисляться бонусные баллы по курсу 1 рубль = 1 бонус. Число полученных бонусов составит 10% от стоимости заказа. В дальнейшем вы сможете использовать их при оплате последующих покупок  на сайте. Оплата бонусами может составить не более трети стоимости всего заказа, бонусы не начисляются на товары со скидкой, бонусы не начисляются при наличии вип-карты. Бонусы действуют только в интернет-магазине.</p>
          </div>
        </div>
    </main>

{% endblock %}
