---
title: Подробнее о заказе
breadCrumbsItems: ['Главная', 'Личный кабинет']
tabs: ['Мой профиль', 'Состояние заказов', 'История заказов', 'Адреса доставки', 'Система лояльности']
isLogged: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {% include "partials/_sidebar.html" %}
  <main class="innerPage pageCabinet">
        {{mixins.pageTitle(title, 'back')}}
        <div class="tabs tabs-cabinet">
          <ul class="tabs__caption">
            <li class="active"><a href="#tab-1" class="active">Мой профиль</a></li>
            <li><a href="#tab-2">Состояние заказов</a></li>
            <li><a href="#tab-3">История заказов</a></li>
            <li><a href="#tab-4">Адреса доставки</a></li>
            <li><a href="#tab-5">Система лояльности</a></li>
          </ul>
          <div class="tabs__container">
            <div class="tabs__content active" id="tab-1">
              {% include "partials/_cabinet_01-profile.html" %}
            </div>
            <div class="tabs__content" id="tab-2">
              {% include "partials/_cabinet_02_1-order-full.html" %}
            </div>
            <div class="tabs__content" id="tab-3">
              {% include "partials/_cabinet_03-history.html" %}
            </div>
            <div class="tabs__content" id="tab-4">
              {% include "partials/_cabinet_04-ship.html" %}
            </div>
            <div class="tabs__content" id="tab-5">
              {% include "partials/_cabinet_05-loalty.html" %}
            </div>
          </div><!-- .tabs__container-->
        </div><!-- .tabs-->
  </main>

{% endblock %}
