---
title: Оформление заказа
breadCrumbsItems: ['Главная','Оформление заказа']
footerWide: true
#isLogged: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
    <main class="innerPage pageOrdernow">
        {{mixins.pageTitle(title)}}
      <div class="ordernow">
        <div class="ordernow-steps">
           <div class="ordernow-steps__step isActive"><a href="18-1_ordernow.html" class="title">Информация о покупателе</a></div>
           <div class="ordernow-steps__step"><a href="18-2_ordernow.html" class="title">Доставка</a></div>
           <div class="ordernow-steps__step"><a href="18-3_ordernow.html" class="title">Оплата</a></div>
           <div class="ordernow-steps__step"><a href="18-4_ordernow.html" class="title">Завершение</a></div>
        </div>
        <div class="ordernow-steps__content ordernow-step0">
            <p>Чтобы оформить заказа необходимо войти или зарегистрироваться. Сразу после этого вы вернетесь к оформлению заказа, содержимое вашей корзины не пропадет ;-)</p>
            <p>Это нужно для того, чтобы вы могли проверить состояние своего заказа в любую минуту, а мы могли с вами связаться для уточнения деталей во избежание ошибок.</p>
        </div>

      </div>
    </main>

{% endblock %}
