---
title: Быстрая покупка
---
{% extends "layouts/_layout_modal.html" %}
{% block content %}
	<div class="container pageRegLogRec">
            <h1>Быстрая покупка</h1>
            <p>Для совершения быстрой покупки заполните все поля. Вам перезвонит оператор для уточнения деталей заказа.
                                </p>
        <form class="form reg" action="">
              <div class="input">
                <label>ФИО:</label>
                <input type="text" placeholder="Введите фамилию, имя и отчество" />
              </div>
              <div class="input">
                <label>Email:</label>
                <input type="text" placeholder="Введите email" />
              </div>
              <div class="input">
                <label>Номер телефона:</label>
                <input class="form-control" type="text" name="tel" placeholder="+7 ___-___-__-__" />
              </div>
              <div class="input-group">
                <label class="checkbox">
                  <input type="checkbox" />
                  <span>Я хочу получать SMS-рассылку</span>
                </label>
              </div>
              <div class="input-group">
                <label class="checkbox">
                  <input type="checkbox" checked="" />
                  <span>Я хочу получать email-рассылку</span>
                </label>
              </div>
              <div class="input-group">
                <label class="checkbox">
                  <input type="checkbox" checked="" />
                  <span>Я согласен с
                    <a href="#">политикой конфиденциальности</a>
                  </span>
                </label>
              </div>
              <div class="row form__footer">
                <div class="col">
                  <button class="btn">Оформить быструю покупку</button>
                </div>
              </div>
            </form>
	</div>
{% endblock %}
