.innerPage .page__row .col+.col
  margin-left: 1.5rem;

.pageStoreMap
  #map
    width: 100%;
    height: 530px;
    +pseudo
    &:before
      right: 0
      bottom: 0
      background: #fff;
      z-index: 1;
      transition: opacity .3s;
    &.isLoaded
      &:before
        opacity: 0;

.b-stores
    height: 530px;
    position: relative;
    padding-right: 15px;
    .store__item
        margin: 0
        list-style: none;
    .ac-label
      font-weight: 700;
      position: relative;
      padding: .5em 1em;
      margin-bottom: .5em;
      display: block;
      cursor: pointer;
      background-color: whiteSmoke;
      transition: background-color .15s ease-in-out;


    .ac-input:checked + label, .ac-label:hover
      color: #fff;
      background-color: #999;


    .ac-label:after, .ac-input:checked + .ac-label:after
      content: "+";
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      width: 2em;
      height: 100%;
      line-height: 2.25em;
      text-align: center;
      background-color: #e5e5e5;
      transition: background-color .5s ease-in-out;


    .ac-label:hover:after, .ac-input:checked + .ac-label:after
      background-color: #b5b5b5;


    .ac-input:checked + .ac-label:after
      content: "-";


    .ac-input
      display: none;


    // the magic

    .ac-text, .ac-sub-text
      opacity: 0;
      height: 0;
      margin-bottom: .5em;
      transition: opacity .25s ease-in-out;
      overflow: hidden;


    .ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text
      opacity: 1;
      height: auto;


    // sub-level

    .ac-sub .ac-label
      background: none;
      font-weight: 600;
      padding: .5em 2em;
      margin-bottom: 0;


    .ac-sub .ac-label:checked
      background: none;
      border-bottom: 1px solid whitesmoke;


    .ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after
      left: 0;
      background: none;


    .ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover
      background: none;




    .ac-sub-text
      padding: 0 1em 0 2em;


.b-stores
    .store-city
        padding: .5em 1em;
        &__item
            //padding: 0 1em;
            margin-bottom: 1em;
            display: block;
        &__name
            font-size: 16px;
            font-weight: normal;
            color: #333333;
        &__addr
            font-size: 14px;
            color: #949494;

