.pageCabinet .tabs-cabinet
    .tabs__content
        padding: 1em 1em;
        .page__row
            .col-left
                width: 40%
            .col-right
                width: 40%

        h5
            font-size: 18px;
            color: #333333;
            font-weight: normal