#fullpage
    .section
        padding-top: 100px
        +sm
            padding-top: 25px
        &.one
            background: #F2F2F2
            .hero__item
                height: 100vh
        &.two
            background: #D9DBDF
            .hero__item
                height: 100vh
    .container
        margin-top: 0
        padding-top: 0





.page__fullpage .section
    background: yellow;
    &:nth-of-type(even)
      background: crimson

    &.with-overflow
        .overflow-content
            height: 200vh;

.hero__item .hero__img
    opacity: 0;
    filter: brightness(2);
    transition: filter 1s cubic-bezier(0.755, 0.01, 0.265, 1), opacity 2s cubic-bezier(0.755, 0.01, 0.265, 1), transform 2s ease-out;
    transform: scale(1.1) translateZ(0)
    .is-loaded &
        opacity: 1;
        filter: brightness(1);
        transform: scale(1) translateZ(0)