.innerPage.page404
    float: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh
    margin: 0
    padding: 0 2em

.page404
    .content
        +pseudo
        &:before
            width: 260px;
            height: 230px;
            left: -180px;
            top: -70px;
            background: url('../img/logo_butterfly.png');
            background-size: cover;
            +md

            +sm
        &:after
            background: url('../img/logo_gray.png');
            background-size: cover;
            width: 180px;
            height: 30px;
            left: 40px;
            top: 120px;
            +sm
                bottom: -30px;
                top: initial;
        h1
            line0height

.p404
    margin-bottom: 0;
    padding-bottom: 0;
    //height: 100%;
    position: relative;
    &__wrap
        height: 50%;
        width: 50%;
        display: flex;
        align-items: center;
        align-content: center;
        +sm
            width: 100%;
    +pseudo
    &:after
        background: url('../img/assets/model01_alpha.png') no-repeat;
        position: absolute;
        top: initial;
        left: initial;
        bottom: 0;
        right: 5%;
        width: 370px
        height: 540px
        opacity: .5
        +md
            width: 260px
            height: 440px
            background-size: cover
            right: 0
        +sm
            display: none;
    &__title
        font-size: 36px;
        font-weight: bold;
    &__lead
        font-size: 24px;
        color: #333333;
        font-weight: normal;