<form class="form__profileEdit">
<div class="page__row">
  <div class="col col-left">
    <h5>Личные данные</h5>
    <div class="form-group">
      <input class="form-control" type="text" name="name" placeholder="Введите имя" />
      <label for="name" class="control-label">Имя</label>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="faname" placeholder="Введите фамилию" />
      <label for="faname" class="control-label">Фамилия</label>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="surname" placeholder="Введите отчество" />
      <label for="surname" class="control-label">Отчество</label>
    </div>
    <div class="form-group">
        <select class="form-control">
            <option>Уфа</option>
            <option>Москва</option>
        </select>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="email" placeholder="k@k.ru" disabled     />
      <label for="email" class="control-label"></label>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="tel" placeholder="+7 ___-___-__-__" />
      <label for="tel" class="control-label">Телефон:</label>
    </div>
  </div>
  <div class="col col-right">
        <h5>Изменение пароля</h5>
            <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="Новый пароль" />
              <label for="password" class="control-label">Новый пароль</label>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="repassword" placeholder="Повторите пароль" />
              <label for="repassword" class="control-label">Повторите пароль</label>
            </div>
        <h5>Дата рождения</h5>
        <div class="form-group">
            <select class="form-control">
                <option>1</option>
                <option>31</option>
            </select>
            <select class="form-control">
                <option>Январь</option>
                <option>Декабрь</option>
            </select>
            <select class="form-control">
                <option>1970</option>
                <option>2010</option>
            </select>
        </div>
        <p>Будьте внимательны! <br/>Поменять дату рождения можно только один раз!</p>
        <div class="input-group">
            <label class="checkbox checkbox-lg">
              <input type="checkbox" checked="" />
              <span>Я хочу получать SMS-рассылку</span>
            </label>
        </div>
        <div class="input-group">
            <label class="checkbox">
              <input type="checkbox" />
              <span>Я хочу получать email-рассылку</span>
            </label>
        </div>
  </div>
</div>
  <div class="btn__row">
      <button class="btn btn_sm">Отмена</button>
      <button class="btn btn-ok btn_sm">Сохранить</button>
  </div>
</form>



