<div class="page__row">
    <h5>Заказ #5</h5>

</div>
<div class="page__row">
    <ul class="order-full__desc">
        <li class="order-full__name">
            <h5>О покупателе:</h5>
            <dl class="order-full__list">
                <dt class="order-full__label">Имя:</dt>
                    <dd class="order-full__value">Никифорова</dd>
                <dt class="order-full__label">Фамилия:</dt>
                    <dd class="order-full__value">Алевтина</dd>
                <dt class="order-full__label">Отчество:</dt>
                    <dd class="order-full__value">Иннокентиевна</dd>
                <dt class="order-full__label">e-mail:</dt>
                    <dd class="order-full__value">alevtina_nikiforova@mail.ru</dd>
                <dt class="order-full__label">Телефон:</dt>
                    <dd class="order-full__value">+7 985 789 45 23</dd>
            </dl>
        </li>
        <li class="order-full__shipment">
            <h5>Доставка:</h5>
            <dl class="b-order-card__desc">
                <dt class="orderDesc__label">Сумма к оплате:</dt>
                    <dd class="orderDesc__value">14 999 р</dd>
                <dt class="orderDesc__label">Оплачен:</dt>
                    <dd class="orderDesc__value">нет</dd>
                <dt class="orderDesc__label">Способ оплаты:</dt>
                    <dd class="orderDesc__value">наличными курьеру</dd>
                <dt class="orderDesc__label">Способ доставки:</dt>
                    <dd class="orderDesc__value">300 р</dd>
            </dl>
        </li>
    </ul>

</div>