<form class="form__profileEdit">
<div class="page__row">
  <div class="col col-left">
    <h5>Личные данные</h5>
    <div class="form-group">
      <input class="form-control" type="text" name="name" placeholder="Введите имя" />
      <label for="name" class="control-label">Имя</label>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="faname" placeholder="Введите фамилию" />
      <label for="faname" class="control-label">Фамилия</label>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="surname" placeholder="Введите отчество" />
      <label for="surname" class="control-label">Отчество</label>
    </div>
    <div class="form-group">
                {%
                set cities =
                    [
                    'Москва','Екатеринбург','Уфа','Нижний Новгород','Пермь','Ростов-на-Дону',
                    'Самара','Стерлитамак','Сургут','Тольятти','Тюмень','Челябинск'
                    ]
                %}
              <div class="select">
                <div class="fake-select filter__select" data-fake-select>
                  <div class="form-control fake-select__button">
                    <span data-fake-label>{{cities[3]}}</span>
                  </div>
                  <select>
                      {% for item in cities %}
                          <option value="{{loop.index}}" {% if loop.first %} selected{% endif %}>{{item}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div> <!-- //.select -->
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="email" placeholder="k@k.ru" disabled     />
      <label for="email" class="control-label"></label>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="tel" placeholder="+7 ___-___-__-__" />
      <label for="tel" class="control-label">Телефон:</label>
    </div>
  </div>
  <div class="col col-right">
        <h5>Изменение пароля</h5>
            <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="Новый пароль" />
              <label for="password" class="control-label">Новый пароль</label>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="repassword" placeholder="Повторите пароль" />
              <label for="repassword" class="control-label">Повторите пароль</label>
            </div>
        <h5>Дата рождения</h5>
        <div class="form-group date">
              <div class="select">
                <div class="fake-select filter__select" data-fake-select>
                  <div class="form-control fake-select__button">
                    <span data-fake-label>1</span>
                  </div>
                  <select>
                      {% for i in range(1, 31) -%}
                          <option value="{{loop.index}}" {% if loop.first %} selected{% endif %}>{{i}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div> <!-- //.select -->

              <div class="select">
                <div class="fake-select filter__select" data-fake-select>
                  <div class="form-control fake-select__button">
                    <span data-fake-label>1</span>
                  </div>
                  <select>
                      {% for i in range(1, 12) -%}
                          <option value="{{loop.index}}" {% if loop.first %} selected{% endif %}>{{i}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div> <!-- //.select -->

              <div class="select">
                <div class="fake-select filter__select" data-fake-select>
                  <div class="form-control fake-select__button">
                    <span data-fake-label>1985</span>
                  </div>
                  <select>
                      {% for i in range(1970, 2018) -%}
                          <option value="{{loop.index}}" {% if loop.first %} selected{% endif %}>{{i}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div> <!-- //.select -->
        </div>
        <p>Будьте внимательны! <br/>Поменять дату рождения можно только один раз!</p>
        <div class="input-group">
            <label class="checkbox checkbox-lg">
              <input type="checkbox" checked="" />
              <span>Я хочу получать SMS-рассылку</span>
            </label>
        </div>
        <div class="input-group">
            <label class="checkbox">
              <input type="checkbox" />
              <span>Я хочу получать email-рассылку</span>
            </label>
        </div>
        <div class="btn__row">
            <button class="btn btn_sm">Отмена</button>
            <button class="btn btn-ok btn_sm">Сохранить</button>
        </div>
  </div>
</div>
</form>



