<!-- begin item -->
<div class="supercards__item">
    <div class="supercards__title">
        <div class="supercards__title-wrap">
            <div class="supercards__handle">{{mixins.icon('handle')}}</div>
            <span>{% if(supertitle) %} {{supertitle}} {% else %}Debit MasterCard<br>Unembossed{% endif%}</span>
        </div>
    </div>
    <div class="supercards__row supercards__row-card">
        <img src="img/card.png" alt="">
    </div>
    <div class="supercards__row">
        <div class="supercards__row-wrap">Безкоштовно</div>
    </div>
    <div class="supercards__row">
        <div class="supercards__row-wrap">Безкоштовно</div>
    </div>
    <div class="supercards__row">
        <div class="supercards__row-wrap">Нi</div>
    </div>
    <div class="supercards__row">
        <div class="supercards__row-wrap">Нi</div>
    </div>
    <div class="supercards__row">
        <div class="supercards__row-wrap">Нi</div>
    </div>
    <div class="superacard__row supercards__row-last">
        <a href="#" class="button">Замовити{{mixins.icon('arr-r')}}</a>
    </div>
</div>
<!-- end item -->