<!-- header -->
<header class="header js-header">
    <div class="container">
        <a href="01_home.html" class="logo"><span>Madyart</span> <small>Интернет-магазин женской одежды</small></a>
        <div class="location">
            Выбор города:
            <a href="#" class="location--change"><i class="fa fa-map-marker"></i> <span class="location__name">Москва и Московская область</span></a>
            <div class="location__choose">
                <h5 class="location__choose-title">Выберите свой город</h5>
                {%
                set cities =
                    [
                    'Москва','Екатеринбург','Уфа','Нижний Новгород','Пермь','Ростов-на-Дону',
                    'Самара','Стерлитамак','Сургут','Тольятти','Тюмень','Челябинск'
                    ]
                %}
                <ul class="location__choose-location">
                    {% for item in cities %}
                        <li class="location__choose-location-item {% if loop.last %}is-active{% endif %}">
                            <div class="input-group">
                                <label class="radio">
                                    <input type="radio" {% if loop.first %}checked{% endif %} name="selectLocation"/>
                                    <span>{{item}}</span>
                                </label>
                             </div>
                        </li>
                    {% endfor %}
                </ul>
                <h5 class="location__choose-title">Или укажите в поле</h5>
                <div class="input">
                    <input type="text" class="input__short" placeholder="Введите название города" />
                    <button class="btn">Выбрать</button>
                </div>
                <div class="location__choose-close btn-close">Закрыть</div>
            </div>
         </div>
        {% if breadCrumbsItems %}{{mixins.breadcrumbs(breadCrumbsItems)}}{% endif %}
        <div class="header__right">
            <div class="userArea">
                {% if isLogged %}
                    <div class="userArea__sign js-dropdown">
                        <a href="#" class="js-toggle" aria-expanded="false" aria-controls="dropdown-userarea">
                        {{mixins.icon('sign')}}
                        <span class="userArea__sign-title">Личный кабинет</span>
                        </a>
                        <ul id="dropdown-userarea" class="js-toggle-dropdown">
                          <li><a href="16-1_cabinet_myprofile.html">Мой профиль</a></li>
                          <li><a href="16-1_cabinet_myprofile.html#tab-2">Состояние заказов</a></li>
                          <li><a href="16-1_cabinet_myprofile.html#tab-3">История заказов</a></li>
                          <li><a href="16-1_cabinet_myprofile.html#tab-4">Адреса доставки</a></li>
                          <li><a href="16-1_cabinet_myprofile.html#tab-5">Система лояльности</a></li>
                          <li class="exitLink"><a href="16-1_cabinet_myprofile.html">Выйти</a></li>
                        </ul>
                    </div>
                    <a href="16-4_cabinet_isbrannoe.html" class="userArea__like">
                        <span class="userArea__like-title">Избранное</span>
                        {{mixins.icon('like')}}
                        <span class="userArea__like--count">15</span>
                    </a>
                {% else %}
                    <div class="userArea__sign js-dropdown">
                        <a href="#" class="js-toggle" aria-expanded="false" aria-controls="dropdown-userarea">
                            {{mixins.icon('sign')}}
                        <span class="userArea__sign-title">Вход / Регистрация</span>
                        </a>
                        <div class="b-login-form" id="dropdown-userarea">
                             <div class="b-login-form-wrap">
                                <h3 class="b-login-form__title">Вход</h3>
                                <a href="17-3_cabinet_reg.html" class="b-login-form--register">У меня нет учетной записи</a>
                                <form action="16-1_cabinet_myprofile.html">
                                <div class="input">
                                    <label>Email:</label>
                                    <input type="text" placeholder="Введите email" />
                                </div>
                                <div class="input">
                                    <label>Пароль:</label>
                                    <input type="text" placeholder="Введите пароль" />
                                </div>
                                <div class="row b-login-form-btn">
                                    <a href="17-1_cabinet_recovery.html" class="lostpass">Забыли пароль?</a>
                                    <button class="btn">Вход</button>
                                </div>
                                </form>

                                <div class="location__choose-close btn-close">Закрыть</div>
                            </div>
                        </div>
                    </div>
                    <!--

                    -->
                    <a href="16-4_cabinet_isbrannoe.html" class="userArea__like">
                        <span class="userArea__like-title">Избранное</span>
                        {{mixins.icon('like')}}
                        <span class="userArea__like--count">15</span>
                    </a>

                {% endif %}
            </div>
            <div class="basket">
                <a href="#" class="basket--order">
                    <span class="basket-title">Оформить заказ</span>
                    <span class="basket--count">15</span>
                </a>
            </div>
            <a href="#" class="js-toggle-nav"></a>
        </div>
    </div>
</header>

