<!-- header -->
<header class="header js-header">
    <div class="container">
        <a href="01_home.html" class="logo"><span>Madyart</span> <small>интернет-магазин женской одежды</small></a>
        <div class="location">
            Выбор города:
            <a href="#" class="location--change"><i class="fa fa-map-marker"></i> Москва и Московская область</a>
         </div>
        <div class="header__right">
            <div class="userArea">
                <a href="#" class="userArea__sign">
                {{mixins.icon('sign')}}
                <span class="userArea__sign-title">Вход / Регистрация</span>
                </a>
                <!--
                <div class="userArea__cabinet">
                    <a href="#">Избранное</a>
                    <a href="#">Личный кабинет</a>
                </div>
                -->
            </div>
            <div class="basket">
                <a href="#" class="basket--order">
                    <span class="basket-title">Оформить заказ</span>
                    <span class="basket--count">15</span>
                </a>
            </div>
            <a href="#" class="js-toggle-nav"></a>
        </div>
    </div>
</header>

