<!-- header -->
<header class="header js-header">
    <div class="container">
        <a href="01_home.html" class="logo"><span>Madyart</span> <small>интернет-магазин женской одежды</small></a>
        <div class="location">
            Выбор города:
            <a href="#" class="location--change"><i class="fa fa-map-marker"></i> Москва и Московская область</a>
            <div class="location__choose">
                <h5 class="location__choose-title">Выберите свой город</h5>
                {%
                set cities =
                    [
                    'Москва','Екатеринбург','Уфа','Нижний Новгород','Пермь','Ростов-на-Дону',
                    'Самара','Стерлитамак','Сургут','Тольятти','Тюмень','Челябинск'
                    ]
                %}
                <ul class="location__choose-location">
                    {% for item in cities %}
                        <li class="location__choose-location-item {% if loop.last %}is-active{% endif %}">
                            <div class="input-group">
                                <label class="radio">
                                    <input type="radio" {% if loop.first %}checked{% endif %} name="selectLocation"/>
                                    <span>{{item}}</span>
                                </label>
                             </div>
                        </li>
                    {% endfor %}
                </ul>
                <h5 class="location__choose-title">Или укажите в поле</h5>
                <div class="input">
                    <input type="text" class="input__short" placeholder="Введите название города" />
                    <button class="btn">Выбрать</button>
                </div>
                <div class="location__choose-close btn-close">Закрыть</div>
            </div>
         </div>
        <div class="header__right">
            <div class="userArea">
                <a href="#" class="userArea__sign">
                {{mixins.icon('sign')}}
                <span class="userArea__sign-title">Вход / Регистрация</span>
                </a>
                <!--
                <div class="userArea__cabinet">
                    <a href="#">Избранное</a>
                    <a href="#">Личный кабинет</a>
                </div>
                -->
            </div>
            <div class="basket">
                <a href="#" class="basket--order">
                    <span class="basket-title">Оформить заказ</span>
                    <span class="basket--count">15</span>
                </a>
            </div>
            <a href="#" class="js-toggle-nav"></a>
        </div>
    </div>
</header>

