{% set items = [
    { 'path': 'item01.jpg', title:'Юбка с высокой талией', price: "6995р"},
    { 'path':'item02.jpg', title:'Пальто утепленное', price: "1995р", type:1, sale:'9995р  -30%'},
    { 'path':'item03.jpg', title:'Яркое платье', price: "995р", type:2, sale:'195р  -90%'},
    { 'path': 'item04.jpg', title:'Юбка с высокой талией', price: "6995р"},
    { 'path':'item05.jpg', title:'Пальто утепленное', price: "1995р", type:1},
    { 'path':'item06.jpg', title:'Яркое платье', price: "995р", type:2}

] %}
{% for item in items %}
    <!-- begin item -->
    <div class="item">
        <div class="item__row">
            <figure class="img-block"><img src="img/assets/{{ item.path }}" alt=""></figure>
            {% if item.type == 1 %}<div class="item__type new">Распродажа</div>{% endif %}
            {% if item.type == 2 %}<div class="item__type hit">Хит!</div>{% endif %}
            {% if item.type == 3 %}<div class="item__type hit">Новинка</div>{% endif %}
        </div>
        <div class="item__row">
            <h3 class="item__title"><a href="#">{{ item.title | safe }}</a></h3>

            <p class="item__price">
                {% if item.sale %}
                    <strike>{{ item.price }}</strike>
                    <span class="item__price--sale">{{ item.sale | safe }}</span>
                {% else %}
                    {{ item.price }}
                {% endif %}

            </p>
        </div>

        <div class="item__actions">
            <a href="#" class="btn btn-default">В корзину</a>
            <a href="#" class="btn btn-info">Подробнее</a>
        </div>
    </div>
    <!-- end item -->
{% endfor %}
