{% macro zeroCheck(num=0) %}
    {{ '0'+num if num < 9 else num }}
{% endmacro %}

{% macro checkDefault(num=0, rand=1) %}
    {{ num if num else range(1, rand) | random }}
{% endmacro %}

{% macro randTime(hour='', minute='') %}
    {{zeroCheck(checkDefault(hour,24))}}:{{zeroCheck(checkDefault(minute,59))}}
{% endmacro %}

{% macro randDate(day='', month='', year='2018') %}
    {{zeroCheck(checkDefault(day,28))}}/{{zeroCheck(checkDefault(month, 12))}}/{{zeroCheck(checkDefault(year, 2019))}}
{% endmacro %}


{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(items) %}
    <ul class="breadcrumbs">
        {% for item in items %}
            <li class="breadcrumbs-item{% if loop.last %} is-active{% endif %}">
              <a href="{% if loop.first %}01_home.html{% else %}08_opt.html{% endif %}" class="breadcrumbs-link">{{item}}</a>
            </li>
        {% else %}
          <li>Null breadcrumbs</li>
        {% endfor %}
    </ul>
{% endmacro %}


{% macro pageTabs(tabs) %}
<div class="tabs">
  <ul class="tabs__caption">
    {% for item in tabs %}
      <li>{{item}}</li>
    {% endfor %}
  </ul>
  {% for item in tabs %}
    {% set idx = loop.index %}
    <div class="tabs__content" id="tab_{{idx}}">
    </div>
 {% endfor %}
</div>
{% endmacro %}


{% macro footer_soc(mod="") %}
<ul class="soc {{mod}}">
  <li><a href="#">{{icon('fb')}}</a></li>
  <li><a href="#">{{icon('ok')}}</a></li>
  <li><a href="#">{{icon('vk')}}</a></li>
  <li><a href="#">{{icon('insta')}}</a></li>
</ul>
{% endmacro %}

{% macro pageTitle(title, titleMenu, subTitle) %}
  <div class="page__title">
    <h1 class="page__title-text">
      {{title}}
      {% if(subTitle) %} <a href="#" class="title__viewAll">{{subTitle}}}</a>{% endif %}
    </h1>
    {% if(titleMenu==='catalog') %}
        <div class="page__title-right">
          <ul class="catalog__sort">
            <li class="catalog__sort-item">
              <div class="js-dropdown dropdown-xs">
                <a href="#" class="js-toggle" aria-expanded="false" aria-controls="catalog-price">
                  Цена
                </a>
                <div id="catalog-price" class="js-toggle-dropdown">
                  <form class="js-priceSlider" data-module="priceSlider">
                    <div class="slider-labels">
                      <span>Цена от:</span>
                      <input type="number" name="min" value="678" />
                      <span>до:</span>
                      <input type="number" name="max" value="5000" />
                    </div>
                    <div id="slider-range" class="slider-ui"></div>
                    <button class="btn2" type="submit">Показать</button>
                  </form>
                </div>
              </div>
            </li>
            <li class="catalog__sort-item">
              <div class="js-dropdown dropdown-xs">
                <a href="#" class="js-toggle" aria-expanded="false" aria-controls="catalog-sort2">
                  Все предметы одежды
                </a>
                <ul id="catalog-sort2" class="js-toggle-dropdown">
                  <li class="isActive">
                    <a href="02-2_catalog.html">Платья</a>
                  </li>
                  <li>
                    <a href="02-2_catalog.html">Жакеты</a>
                  </li>
                  <li>
                    <a href="02-2_catalog.html">Юбки</a>
                  </li>
                  <li>
                    <a href="02-2_catalog.html">Блузки</a>
                  </li>
                  <li>
                    <a href="02-2_catalog.html">Брюки</a>
                  </li>
                  <li>
                    <a href="02-2_catalog.html">Джемперы Джемперы </a>
                  </li>
                  <li>
                    <a href="02-2_catalog.html">Пальто</a>
                  </li>
                  <li>
                    <a href="02-2_catalog.html">Сумки</a>
                  </li>
                  <li>
                    <a href="02-2_catalog.html">Аксессуары</a>
                  </li>
                  <li>
                    <a href="02-2_catalog.html">Бижутерия</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="catalog__sort-item">
              <div class="js-dropdown dropdown-xs">
                <a href="#" class="js-toggle" aria-expanded="false" aria-controls="catalog-sizes">
                  Размеры
                </a>
                <div id="catalog-sizes" class="catalog__sizes js-toggle-dropdown">
                    {%
                    set items =
                        [
                        '38', '40', '42', '44', '46', '48', '50', '52', '54'
                        ]
                    %}
                    <form>
                    <ul>
                        {% for item in items %}
                            <li class="catalog__sizes-item{% if loop.last %} is-active{% endif %}">
                                <div class="input-group">
                                    <label class="radio">
                                        <input type="radio" {% if loop.first %}checked{% endif %} name="selectLocation"/>
                                        <span>{{item}}</span>
                                    </label>
                                 </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <button class="btn" type="submit">Показать</button>
                    </form>
                </div>
              </div>
            </li>

            <li class="catalog__sort-item"><a href="#" class="clear">Сбросить</a></li>
          </ul>
      </div>
    {% endif %}
    {% if(titleMenu==='catalog2') %}
        <div class="page__title-right">
          <ul class="catalog__sort">
            <li class="catalog__sort-item">
              <div class="js-dropdown dropdown-xs">
                <a href="#" class="js-toggle" aria-expanded="false" aria-controls="catalog-sort22">
                  Все предметы одежды2
                </a>
                <ul id="catalog-sort22" class="js-toggle-dropdown">
                  <li class="isActive">
                    <a href="02_catalog.html">Платья</a>
                  </li>
                  <li>
                    <a href="02_catalog.html">Жакеты</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="catalog__sort-item">
              <div class="js-dropdown dropdown-xs">
                <a href="#" class="js-toggle" aria-expanded="false" aria-controls="catalog-sort3">
                  Цена
                </a>
                <ul id="catalog-sort3" class="js-toggle-dropdown">
                  <li>
                    <a href="02_catalog.html">По возрастанию</a>
                  </li>
                  <li class="isActive">
                    <a href="02_catalog.html">По убыванию</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="catalog__sort-item"><a href="#" class="clear">Сбросить</a></li>
          </ul>
      </div>
    {% endif %}
    {% if(titleMenu==='novelty') %}
        <div class="page__title-right">
          <ul class="page__title-menu">
            <li><a href="#">Блог</a></li>
            <li><a href="#">Вернуться к покупкам</a></li>
          </ul>
        </div>
    {% endif %}
    {% if(titleMenu==='back') %}
      <div class="page__title-right">
        <ul class="page__title-menu">
          <li><a href="javascript:history.back()">Вернуться к покупкам</a></li>
        </ul>
      </div>
    {% endif %}
    {% if(titleMenu==='search') %}
      <div class="page__title-right">
        <div class="search">
          <input type="text" class="search__input js-search is-open" placeholder="Искать" name="q" />
          <button type="submit" class="search__btn js-show-search"><i class="fa fa-search"></i></button>
        </div>
      </div>
    {% endif %}
  </div>
  <!-- //.page__title -->
{% endmacro %}

{% macro pagination() %}
    <ul class="pagination inline">
       <li><a href="#"><span>В начало</span></a></li>
       <li><a href="#"><span>1</span></a></li>
       <li class="active"><a href="#"><span>2</span></a></li>
       <li><a href="#"><span>3</span></a></li>
       <li><a href="#"><span>4</span></a></li>
       <li><a href="#"><span>5</span></a></li>
       <li><a href="#"><span>...</span></a>  </li>
       <li><a href="#"><span>101</span></a></li>
       <li><a href="#"><span>102</span></a></li>
       <li><a href="#"><span>В конец</span></a></li>
     </ul>
{% endmacro %}

{% macro rating(mod="") %}
<fieldset class="rating">
  <input type="radio" id="star5" name="rating" value="5" />
  <label for="star5" title="Rocks!">
    {{icon('star')}}
  </label>
  <input type="radio" id="star4" name="rating" value="4" />
  <label for="star4" title="Pretty good">
    {{icon('star')}}
  </label>
  <input type="radio" id="star3" name="rating" value="3" />
  <label for="star3" title="Meh">
    {{icon('star')}}
  </label>
  <input type="radio" id="star2" name="rating" value="2" />
  <label for="star2" title="Kinda bad">
    {{icon('star')}}
  </label>
  <input type="radio" id="star1" name="rating" value="1" />
  <label for="star1" title="Sucks big time">
    {{icon('star')}}
  </label>
</fieldset>
{% endmacro %}



{% macro catalogItems(size) %}
    {% for i in range(0, size) -%}
        {% set outer_loop = loop %}
        {% set items = [
            { 'path': 'item01.jpg', title:'Юбка с высокой талией', price: "6995р"},
            { 'path': 'item02.jpg', title:'Пальто утепленное', price: "1995р", type:1, sale:'9995р  -30%'},
            { 'path': 'item03.jpg', title:'Яркое платье', price: "995р", type:2, sale:'195р  -90%'},
            { 'path': 'item04.jpg', title:'Юбка с высокой талией', price: "6995р"},
            { 'path': 'item05.jpg', title:'Пальто утепленное', price: "1995р", type:1},
            { 'path': 'item06.jpg', title:'Яркое платье', price: "995р", type:2}
        ] %}
        {% for item in items | shuffle %}
            {% set idx = outer_loop.index+loop.index-1 %}

            <div class="item">
                <a href="03_item.html" class="item__link">{{ item.title | safe }}</a>
                <div class="item__row">
                    <figure class="img-block"><img src="img/assets/{{ item.path }}" alt="" /></figure>
                    <!-- <figure class="img-block"><img src="img/assets/item0{{ range(1, 6) | random }}.jpg" alt="" /></figure> -->
                    {% if item.type == 1 %}<div class="item__type new">Распродажа</div>{% endif %}
                    {% if item.type == 2 %}<div class="item__type hit">Хит!</div>{% endif %}
                    {% if item.type == 3 %}<div class="item__type hit">Новинка</div>{% endif %}
                    <a href="#" class="item__like">Добавить в избранное</a>
                </div>
                <div class="item__row">
                    <h3 class="item__title"><a href="#">{{ item.title | safe }}</a></h3>
                    <p class="item__price">
                        {% if item.sale %}
                            <s>{{ item.price }}</s>
                            <span class="item__price--sale">{{ item.sale | safe }}</span>
                        {% else %}
                            {{ item.price }}
                        {% endif %}
                    </p>
                </div>

                <div class="item__actions">
                    <a href="03_item.html" class="btn btn-default">Подробнее</a>
                    <a href="03_item.html" class="btn btn-info">В корзину</a>
                </div>
            </div>

        {% endfor %}
    {%- endfor %}
{% endmacro %}


{% macro styleguideItems(size) %}
    {% for i in range(0, size) -%}
        {% set outer_loop = loop %}
        {% set items = [
            { 'path': 'item04.jpg', title:'Юбка с высокой талией', price: "6995р"},
            { 'path': 'item05.jpg', title:'Пальто утепленное', price: "1995р", type:1},
            { 'path': 'item06.jpg', title:'Яркое платье', price: "995р", type:2}
        ] %}
        {% for item in items | shuffle %}
            {% set idx = outer_loop.index+loop.index-1 %}
            <!-- BEGIN item-->
            <div class="item">
                <a href="#" class="item-link">
                    <figure class="img-block"><img src="img/assets/{{ item.path }}" alt="" /></figure>
                </a>
            </div>
            <!-- END item-->
        {% endfor %}
    {%- endfor %}
{% endmacro %}

{% macro newsItems(size, fullLink="#") %}
        {% set items = [
            { 'pic': 'news01.jpg', title:'MADYART 25 лет', date: "февраль 2018", text: 'Новый салон MADYART гостеприимно распахнул свои двери для покупателей в торговом центре Молл Парк Хаус на 2 этаже. Новая коллекция MADYART в новом салоне ждет Вас!!! Всем удачного шоппинга!'},
            { 'pic': 'news04.jpg', title:'Новый салон MADYART в москве', date: "февраль 2018", text: 'Милые дамы! Обращаем ваше внимание на то, что наш салон в Москве ПЕРЕЕХАЛ из ТРК "БУМ". Ждем вас за покупками по новому адресу: ТРК Глобал Сити, Днепропетровская, 2, 1 этаж; м. Южная, выход направо. Тел. 8(499)3472062. В честь открытия действуют специальные скидки!'},
            { 'pic': 'news02.jpg', title:'Открытие осеннего сезона', date: "февраль 2018", text: '2 августа открылся третий салон MADYART в САМАРЕ! На этот раз - в ТЦ Амбар, в одном из самых интересных торговых комплексов города. Кто побывал на открытии — оказался на зрелищном, ярком и необычном празднике,'},
            { 'pic': 'news03.jpg', title:'"Гарантия восторженных взглядов" в Екатеринбурге', date: "февраль 2018", text: 'Милые дамы! Обращаем ваше внимание на то, что наш салон в Москве ПЕРЕЕХАЛ из ТРК "БУМ". Ждем вас за покупками по новому адресу: ТРК Глобал Сити, Днепропетровская, 2, 1 этаж; м. Южная, выход направо. Тел. 8(499)3472062. В честь открытия действуют специальные скидки!'}
        ] %}

        {% for item in items | shuffle %}
            {% set idx = outer_loop.index+loop.index-1 %}

            {#   <div class="news-item">
                <figure class="news-item__pic">
                  <img src="img/assets/{{ item.pic }}" alt="{{ item.title }}" />
                </figure>
                <h3 class="news-item__title"><a href="{{ fullLink }}">{{ item.title }}</a></h3>
                <div class="news-item__date">{{ item.date }}</div>
                <p class="news-item__text">{{ item.text }}</p>
              </div>
              #}
              <!-- BEGIN item-->
              <article class="news-item">
                <a href="{{ fullLink }}" class="news-item__link">
                  <figure class="news-item__pic">
                    <img src="img/assets/{{ item.pic }}" alt="{{ item.title }}" />
                  </figure>
                  <div class="news-item__content">
                    <div class="news-item__title">{{ item.title }}</div>
                    <div class="news-item__date">{{ item.date }}</div>
                    <p class="news-item__text">{{ item.text }}</p>
                  </div>
                </a>
              </article>
            <!-- END item-->
        {% endfor %}
{% endmacro %}



{% macro orders() %}
    {% for i in range(0, 30) -%}
        <div class="b-order-card">
            <div class="b-order-card__header">Заказ #{{ loop.index }} <span>20.15.2016</span></div>
            <dl class="b-order-card__desc">
                <dt class="orderDesc__label">Сумма к оплате:</dt>
                    <dd class="orderDesc__value">14 999 р</dd>
                <dt class="orderDesc__label">Оплачен:</dt>
                    <dd class="orderDesc__value">нет</dd>
                <dt class="orderDesc__label">Способ оплаты:</dt>
                    <dd class="orderDesc__value">наличными курьеру</dd>
                <dt class="orderDesc__label">Способ доставки:</dt>
                    <dd class="orderDesc__value">300 р</dd>
            </dl>
            <div class="b-order-card__footer">
                <div class="orderStatus">Получен, ожидает оплаты</div>
                <a href="16-2_cabinet_order-full.html" class="btn btn-ok">Подробнее о заказе</a>
            </div>
        </div>
    {% endfor %}
{% endmacro %}