{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}


{% macro footer_soc(mod="") %}
<ul class="soc {{mod}}">
  <li><a href="#">{{icon('fb')}}</a></li>
  <li><a href="#">{{icon('ok')}}</a></li>
  <li><a href="#">{{icon('vk')}}</a></li>
  <li><a href="#">{{icon('insta')}}</a></li>
</ul>
{% endmacro %}


{% macro rating(mod="") %}
<fieldset class="rating">
  <input type="radio" id="star5" name="rating" value="5" />
  <label for="star5" title="Rocks!">
    {{icon('star')}}
  </label>
  <input type="radio" id="star4" name="rating" value="4" />
  <label for="star4" title="Pretty good">
    {{icon('star')}}
  </label>
  <input type="radio" id="star3" name="rating" value="3" />
  <label for="star3" title="Meh">
    {{icon('star')}}
  </label>
  <input type="radio" id="star2" name="rating" value="2" />
  <label for="star2" title="Kinda bad">
    {{icon('star')}}
  </label>
  <input type="radio" id="star1" name="rating" value="1" />
  <label for="star1" title="Sucks big time">
    {{icon('star')}}
  </label>
</fieldset>
{% endmacro %}

{% macro footer__block(phone) %}
<!-- footer -->
<footer class="footer {% if(phone) %}footer__wide{% endif %}">
    <div class="container">
        <div class="footer__in">
            {% if(phone) %}
              <div class="phone">
                <a href="tel:8 (800) 700-00-10" class="tel">{{phone}}</a>
                <p class="phone__desc">Звонок по РФ бесплатный <br/> По будням с 8 до 18 (мск)</p>
              </div>
            {% endif %}
            <div class="footer__nav">
                <ul>
                    <li><a href="10-2_text_two.html">Руководство по покупке</a></li>
                    <li><a href="#">Пользовательское соглашение</a></li>
                    <li><a href="#">Порядок совершения покупки</a></li>
                    <li><a href="10-1_text_one.html">Доставка заказа</a></li>
                </ul>
            </div>
            <div class="footer__nav">
                <ul>
                    <li><a href="10-1_text_one.html">Отказ от товара, возврат, обмен</a></li>
                    <li><a href="10-2_text_two.html">Оплата товара</a></li>
                    <li><a href="10-1_text_one.html">Политика конфиденциальности</a></li>
                </ul>
            </div>

            <div class="footer__nav2">
                <h3>Нашим партнерам</h3>
                <ul>
                    <li><a href="12-1_news-list.html">Новости бренда</a></li>
                    <li><a href="13-1_blog-list.html">Блог</a></li>
                    <li><a href="09_stores.html">Салоны</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li>{{footer_soc()}}</li>
                </ul>
            </div>
            <div class="footer__nav2">
                <h3>Оптовым покупателям</h3>
                <ul>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="08_opt.html">Отдел оптовых продаж на сайте</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endmacro %}


{% macro breadcrumbs(items) %}
    <ul class="breadcrumbs">
        {% for item in items %}
            <li class="breadcrumbs-item{% if loop.last %} is-active{% endif %}">
              <a href="#" class="breadcrumbs-link">{{item}}</a>
            </li>
        {% else %}
          <li>Null breadcrumbs</li>
        {% endfor %}
    </ul>
{% endmacro %}