<!-- sidebar -->
<aside class="sidebar sidebar--catalog">
    <ul class="menu">
        <li class="menu__item"><a href="06_novelty.html">Новинки</a></li>
        <li class="menu__item"><a href="02_catalog.html">Распродажи</a></li>
        <li class="menu__item"><a href="02_catalog.html">Хиты продаж</a></li>
        <li class="menu__item"><a href="02_catalog.html">Каталог</a>
            <ul class="submenu">
                <li class="submenu__item"><a href="02_catalog.html">Платья</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Жакеты</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Юбки</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Блузки</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Брюки</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Джемперы Джемперы </a></li>
                <li class="submenu__item"><a href="02_catalog.html">Пальто</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Сумки</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Аксессуары</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Бижутерия</a></li>
            </ul>
        </li>
        <li class="menu__item"><a href="04-1_collection.html">Коллекции</a>
            <ul class="submenu">
                <li class="submenu__item"><a href="04-2_collection-catalog.html">Новый год 2018</a></li>
                <li class="submenu__item"><a href="04-2_collection-catalog.html">Осень 2017</a></li>
                <li class="submenu__item"><a href="04-2_collection-catalog.html">Лето 2017</a></li>
            </ul>
        </li>
    </ul>
    <div class="phone">
      <a href="tel:8 (800) 700-00-10" class="tel">8 (800) 700-00-10</a>
      <p class="phone__desc">Звонок по РФ бесплатный <br/> По будням с 8 до 18 (мск)</p>
    </div>
</aside>
<!-- //.sidebar -->