<aside class="sidebar_mobile">
    <ul class="menu">
        <li class="menu__item"><a href="02_catalog.html">Главная</a></li>
        <li class="menu__item"><a href="#">Каталог </a>
            <ul class="submenu">
                <li class="submenu__item"><a href="#">Платья</a></li>
                <li class="submenu__item"><a href="#">Жакеты</a></li>
                <li class="submenu__item"><a href="#">Юбки</a></li>
                <li class="submenu__item"><a href="#">Блузки</a></li>
                <li class="submenu__item"><a href="#">Брюки</a></li>
                <li class="submenu__item"><a href="#">Джемперы Джемперы </a></li>
                <li class="submenu__item"><a href="#">Пальто</a></li>
                <li class="submenu__item"><a href="#">Сумки</a></li>
                <li class="submenu__item"><a href="#">Аксессуары</a></li>
                <li class="submenu__item"><a href="#">Бижутерия</a></li>
            </ul>
        </li>
        <li class="menu__item"><a href="02_catalog.html">Новинки</a></li>
        <li class="menu__item sale"><a href="02_catalog.html">Распродажа</a></li>
        <li class="menu__item"><a href="02_catalog.html">Хит продаж</a></li>
    </ul>
    <ul class="location">
        <li class="menu__item city"><a href="#">Выбор города</a></li>
        <!-- <li class="menu__item city"><a href="#">город: Ростов-на-дону</a></li> -->
    </ul>
    <ul class="userArea">
        <li class="menu__item"><a href="#">Вход</a></li>
        <li class="menu__item"><a href="#">Регистрация</a></li>
        <li class="menu__item"><a href="#">Состояние заказов</a></li>
        <li class="menu__item"><a href="#">О нас</a></li>
        <li class="menu__item"><a href="#">Возврат</a></li>
        <li class="menu__item"><a href="#">Доставка</a></li>
        <li class="menu__item"><a href="#">Политика конфиденциальности</a></li>
    </ul>
</aside>
