<!-- sidebar -->
<aside class="sidebar sidebar--index" data-sticky>
    <ul class="menu">
        <li class="menu__item"><a href="06_novelty.html">Новинки</a></li>
        <li class="menu__item"><a href="03_item.html">Распродажа</a></li>
        <li class="menu__item menu__item-subMenu">
            <div class="menu__item-subMenuWrap">
                <a href="#" class="menu__item-link">Каталог </a>
                <div class="menu__item-subMenuBlock">
                    <ul class="submenu">
                        <li class="submenu__item"><a href="02_catalog.html">Платья</a></li>
                        <li class="submenu__item"><a href="02_catalog.html">Жакеты</a></li>
                        <li class="submenu__item"><a href="02_catalog.html">Юбки</a></li>
                        <li class="submenu__item"><a href="02_catalog.html">Блузки</a></li>
                        <li class="submenu__item"><a href="02_catalog.html">Брюки</a></li>
                    </ul>
                    <ul class="submenu">
                        <li class="submenu__item"><a href="02_catalog.html">Джемперы</a></li>
                        <li class="submenu__item"><a href="02_catalog.html">Пальто</a></li>
                        <li class="submenu__item"><a href="02_catalog.html">Сумки</a></li>
                        <li class="submenu__item"><a href="02_catalog.html">Аксессуары</a></li>
                        <li class="submenu__item"><a href="02_catalog.html">Бижутерия</a></li>
                    </ul>
                    <ul class="submenu">
                        <li class="submenu__item"><a href="06_novelty.html">Новинки</a></li>
                        <li class="submenu__item"><a href="02_catalog.html">Распродажи</a></li>
                        <li class="submenu__item"><a href="02_catalog.html">Хиты продаж</a></li>
                    </ul>
                    <ul class="submenu">
                        <li class="submenu__item"><a href="04-2_collection-catalog.html">Новый год 2018</a></li>
                        <li class="submenu__item"><a href="04-2_collection-catalog.html">Осень 2017</a></li>
                        <li class="submenu__item"><a href="04-2_collection-catalog.html">Лето 2017</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <ul class="smenu">
        <li class="menu__item smenu__item-subMenu">
        <div class="smenu__item-subMenuWrap">
            <a href="15_mir-madyart.html" class="smenu__item-link">Мир Madyart</a>
            <div class="smenu__item-subMenuBlock">
                <ul class="smenu__sub">
                    <li class="menu__item"><a href="12-1_news-list.html">Новости</a></li>
                    <li class="menu__item"><a href="15_mir-madyart.html">История MADYART</a></li>
                    <li class="menu__item"><a href="#">Дизайн-бюро</a></li>
                    <li class="menu__item"><a href="#">Фабрика</a></li>
                    <li class="menu__item"><a href="14_discount.html">Дисконтная программа</a></li>
                    <li class="menu__item"><a href="10-1_text_one.html">Подарочный сертификат</a></li>
                    <li class="menu__item"><a href="09_stores.html">Салоны</a></li>
                    <li class="menu__item"><a href="13-1_blog-list.html">Блог</a></li>
                </ul>
            </div>
        </div>
        </li>
        <li class="menu__item"><a href="04-1_collection.html">Коллекции</a></li>
        <li class="menu__item"><a href="05-1_styleguide.html">Гид по стилю</a></li>
        <li class="menu__item"><a href="09_stores.html">Салоны</a></li>
    </ul>
    <ul class="smenu">
        <li class="menu__item"><a href="10-1_text_one.html">Как оформить заказ</a></li>
        <li class="menu__item"><a href="10-2_text_two.html">Условия доставки</a></li>
        <li class="menu__item"><a href="10-2_text_two.html">Оплата товара</a></li>
    </ul>
    <div class="phone">
      <a href="tel:8 (800) 700-00-10" class="tel">8 (800) 700-00-10</a>
      <p class="phone__desc">Звонок по РФ бесплатный <br/> По будням с 8 до 18 (мск)</p>
    </div>

</aside>
<!-- //.sidebar -->