<!-- sidebar -->
<aside class="sidebar" data-sticky="">
    <ul class="menu">
        <li class="menu__item"><a href="02_catalog.html">Новинки</a></li>
        <li class="menu__item"><a href="03_item.html">Распродажа</a></li>
        <li class="menu__item"><a href="#">Каталог </a>
            <ul class="submenu">
                <li class="submenu__item"><a href="#">Платья</a></li>
                <li class="submenu__item"><a href="#">Жакеты</a></li>
                <li class="submenu__item"><a href="#">Юбки</a></li>
                <li class="submenu__item"><a href="#">Блузки</a></li>
                <li class="submenu__item"><a href="#">Брюки</a></li>
                <li class="submenu__item"><a href="#">Джемперы Джемперы </a></li>
                <li class="submenu__item"><a href="#">Пальто</a></li>
                <li class="submenu__item"><a href="#">Сумки</a></li>
                <li class="submenu__item"><a href="#">Аксессуары</a></li>
                <li class="submenu__item"><a href="#">Бижутерия</a></li>
            </ul>
        </li>
        <li class="menu__item"><a href="#">Коллекции</a>
            <ul class="submenu">
                <li class="submenu__item"><a href="#">Новый год 2018</a></li>
                <li class="submenu__item"><a href="#">Осень 2017</a></li>
                <li class="submenu__item"><a href="#">Лето 2017</a></li>
            </ul>
        </li>
    </ul>
    <div class="phone">
      <a href="tel:8 (800) 700-00-10" class="tel">8 (800) 700-00-10</a>
      <p class="phone__desc">Звонок по РФ бесплатный <br/> По будням с 8 до 18 (мск)</p>
    </div>
</aside>
<!-- //.sidebar -->