<!-- sidebar -->
<aside class="sidebar" data-sticky="">
    <ul class="menu">
        <li class="menu__item"><a href="02_catalog.html">Новинки</a></li>
        <li class="menu__item"><a href="">Распродажа</a></li>
        <li class="menu__item"><a href="#">Каталог </a>
            <ul class="submenu">
                <li class="submenu__item"><a href="03_item.html">Платья</a></li>
                <li class="submenu__item"><a href="03_item.html">Жакеты</a></li>
                <li class="submenu__item"><a href="03_item.html">Юбки</a></li>
                <li class="submenu__item"><a href="03_item.html">Блузки</a></li>
                <li class="submenu__item"><a href="03_item.html">Брюки</a></li>
                <li class="submenu__item"><a href="03_item.html">Джемперы Джемперы </a></li>
                <li class="submenu__item"><a href="03_item.html">Пальто</a></li>
                <li class="submenu__item"><a href="03_item.html">Сумки</a></li>
                <li class="submenu__item"><a href="03_item.html">Аксессуары</a></li>
                <li class="submenu__item"><a href="03_item.html">Бижутерия</a></li>
            </ul>
        </li>
        <li class="menu__item"><a href="04_collection.html">Коллекции</a>
            <ul class="submenu">
                <li class="submenu__item"><a href="#">Новый год 2018</a></li>
                <li class="submenu__item"><a href="#">Осень 2017</a></li>
                <li class="submenu__item"><a href="#">Лето 2017</a></li>
            </ul>
        </li>
    </ul>
    <div class="phone">
      <a href="tel:8 (800) 700-00-10" class="tel">8 (800) 700-00-10</a>
      <p class="phone__desc">Звонок по РФ бесплатный <br/> По будням с 8 до 18 (мск)</p>
    </div>
</aside>
<!-- //.sidebar -->