<aside class="sidebar_mobile">
    <ul class="menu">
        <li class="menu__item"><a href="02_catalog.html">Главная</a></li>
        <li class="menu__item"><a href="02_catalog.html">Каталог </a>
            <ul class="submenu">
                <li class="submenu__item"><a href="02_catalog.html">Платья</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Жакеты</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Юбки</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Блузки</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Брюки</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Джемперы Джемперы </a></li>
                <li class="submenu__item"><a href="02_catalog.html">Пальто</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Сумки</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Аксессуары</a></li>
                <li class="submenu__item"><a href="02_catalog.html">Бижутерия</a></li>
            </ul>
        </li>
        <li class="menu__item"><a href="06_novelty.html">Новинки</a></li>
        <li class="menu__item sale"><a href="02_catalog.html">Распродажа</a></li>
        <li class="menu__item"><a href="02_catalog.html">Хит продаж</a></li>
    </ul>
    <ul class="location">
        <li class="menu__item city"><a href="02_catalog.html">Выбор города</a></li>
        <!-- <li class="menu__item city"><a href="02_catalog.html">город: Ростов-на-дону</a></li> -->
    </ul>
    <ul class="userArea">
        <li class="menu__item"><a href="02_catalog.html">Вход</a></li>
        <li class="menu__item"><a href="02_catalog.html">Регистрация</a></li>
        <li class="menu__item"><a href="02_catalog.html">Состояние заказов</a></li>
        <li class="menu__item"><a href="02_catalog.html">О нас</a></li>
        <li class="menu__item"><a href="02_catalog.html">Возврат</a></li>
        <li class="menu__item"><a href="02_catalog.html">Доставка</a></li>
        <li class="menu__item"><a href="02_catalog.html">Политика конфиденциальности</a></li>
    </ul>
</aside>
