<div class="b-order">
  <div class="row"> Заказ #12 20.15.2016 Обработка заказа
    <a href="#" class="btn">Обратно к заказам</a>
  </div>
  <ul>
    <li>
      <h5>О покупателе:</h5>
      <dl>
        <dt>Имя:</dt>
        <dd>Алевтина</dd>
        <dt>Фамилия:</dt>
        <dd>Никифорова</dd>
        <dt>Отчество:</dt>
        <dd>Иннокентиевна</dd>
        <dt>e-mail:</dt>
        <dd>alevtina_nikiforova@mail.ru</dd>
        <dt>Телефон::</dt>
        <dd>+7 985 789 45 23</dd>
      </dl>
    </li>
    <li>
      <h5>Доставка:</h5>
      <dl>
        <dt>Имя:</dt>
        <dd>Алевтина</dd>
        <dt>Фамилия:</dt>
        <dd>Никифорова</dd>
        <dt>Отчество:</dt>
        <dd>Иннокентиевна</dd>
        <dt>e-mail:</dt>
        <dd>alevtina_nikiforova@mail.ru</dd>
        <dt>Телефон::</dt>
        <dd>+7 985 789 45 23</dd>
      </dl>
    </li>
    <li>
      <h5>Содержание заказа</h5>
    </li>
  </ul>
</div>
