<div class="page__row">
  <a href="#" class="btn">Активные</a>
  <a href="#" class="btn">Выполненные</a>
  <a href="#" class="btn">Отмененные</a>
  <a href="#" class="btn">Все заказы</a>
</div>
<div class="page__row">
  <div class="grid__orders">
    <div class="card">
      <h6> Заказ #12
        <span>20.15.2016</span>
      </h6>
      <dl>
        <dt>Сумма к оплате:</dt>
        <dd>14 999 р</dd>
        <dt>Оплачен:</dt>
        <dd>нет</dd>
        <dt>Способ оплаты:</dt>
        <dd>наличными курьеру</dd>
        <dt>Способ доставки:</dt>
        <dd>300 р</dd>
      </dl>
      <div class="footer">
        <button class="btn">Подробнее о заказе</button>
      </div>
    </div>
  </div>
</div>
