.icon-basket {
  width: 0.95em;
  height: 1em;
  fill: #333;
}
.icon-buy-express {
  width: 0.94em;
  height: 1em;
  fill: #fff;
}
.icon-buy {
  width: 0.94em;
  height: 1em;
  fill: #fff;
}
.icon-dots {
  width: 4.56em;
  height: 1em;
  fill: initial;
}
.icon-dress {
  width: 0.88em;
  height: 1em;
  fill: #E5E5E5;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: #333;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: #333;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: #333;
}
.icon-like {
  width: 1.1em;
  height: 1em;
  fill: #FF4062;
}
.icon-mirmd-blog {
  width: 1.16em;
  height: 1em;
  fill: #E5E5E5;
}
.icon-mirmd-giftcard {
  width: 0.93em;
  height: 1em;
  fill: #E5E5E5;
}
.icon-mirmd-history {
  width: 1em;
  height: 1em;
  fill: #E5E5E5;
}
.icon-mirmd-news {
  width: 1.05em;
  height: 1em;
  fill: #E5E5E5;
}
.icon-mirmd-sewing-machine {
  width: 1.09em;
  height: 1em;
  fill: #E5E5E5;
}
.icon-mirmd-stores {
  width: 1.03em;
  height: 1em;
  fill: #E5E5E5;
}
.icon-ok {
  width: 1em;
  height: 1em;
  fill: #333;
}
.icon-sign {
  width: 0.8em;
  height: 1em;
  fill: none;
}
.icon-star {
  width: 1.06em;
  height: 1em;
  fill: none;
}
.icon-twitter {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-uhod-01 {
  width: 0.97em;
  height: 1em;
  fill: #000;
}
.icon-uhod-02 {
  width: 1.14em;
  height: 1em;
  fill: #000;
}
.icon-uhod-03 {
  width: 1.17em;
  height: 1em;
  fill: #000;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: #333;
}
